---
import { Image } from 'astro:assets';

// [Layout]
import SectionContainer from '../../../components/global/SectionContainer.astro';

// [Components]
import SectionHeaderImage from '../../../components/global/subpage/SectionHeaderImage.astro';
import PageHeader from '../../../components/global/subpage/PageHeader.astro';
import PageBody from '../../../components/global/subpage/PageBody.astro';
import HighlightCard from './components/HighlightCard.astro';
import ButtonPrimaryCta from '../../../components/ButtonPrimaryCta.astro';

// [Assets]
import PiggyBank from '../../../assets/personal-savings.svg';
---

<SectionContainer containerType="contain">
	<SectionHeaderImage class="desktop:items-center">
		<div
			slot="top-right"
			class="desktop:order-2"
		>
			<div class="image-wrapper h-full w-full">
				<Image
					src={PiggyBank}
					alt="piggy bank"
					height={800}
					width={800}
					class="object-contain"
				/>
			</div>
		</div>
		<div
			slot="bottom-left"
			class="flex flex-col gap-10"
		>
			<PageHeader
				page="Plans & pricing"
				title="choose the best plan for your business"
			/>
			<PageBody
				description="We offer flexible package options to help with all budget...ipsum. we offer flexible package options to help with all budget...ipsum "
			/>
			<HighlightCard />
			<div class="button-wrapepr">
				<ButtonPrimaryCta />
			</div>
		</div>
	</SectionHeaderImage>
</SectionContainer>
