---
import { Image } from 'astro:assets';
const { image, class: className = '' } = Astro.props;
---

<div class='relative h-fit w-full'>
	<Image
		src={image}
		class={`w-full h-full object-cover ${className}`}
		alt='Kenny Nguyen Headshot'
		height={500}
		width={500}
	/>
	<div
		class='quote-container p-8 rounded-2xl absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-[60%] w-[80%] bg-[#FFFCF3] shadow-sm flex flex-col gap-5'
	>
		<h3 class='uppercase font-bold text-[#FFC219] text-2xl'>
			The IWS Philosophy
		</h3>
		<p class='text-contrast-permanent/80'>
			Impact Web Studio was started with a simple belief - that every business
			deserves a website that works as hard as they do.
		</p>
		<p class='text-lg font-bold leading-tight'>
			Kenny Nguyen <br /> Founder, Lead Developer
		</p>
	</div>
</div>
