---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
interface Prop {
	imagePath: string;
	class?: string;
}
const { imagePath, class: className = '' } = Astro.props as Prop;

// [Logic]
const images = import.meta.glob<{ default: ImageMetadata }>(
	'/src/assets/*.{jpeg,jpg,png,gif,webp}'
);

if (!images[imagePath])
	throw new Error(
		`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
	);
---

<div class="relative h-fit w-full mb-[25%] tablet:mb-[15%]">
	<Image
		src={images[imagePath]()}
		class={`w-full h-full object-cover ${className}`}
		alt="Kenny Nguyen Headshot"
		height={500}
		width={500}
	/>
	<div
		class="quote-container p-4 gap-3 tablet:p-8 rounded-2xl absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-[40%] tablet:translate-y-[50%] desktop:translate-y-[50%] w-[90%] tablet:w-[85%] bg-[#FFFCF3] shadow-sm flex flex-col tablet:gap-5"
	>
		<h3 class="uppercase text-lg font-bold text-[#FFC219] tablet:text-2xl">
			The IWS Philosophy
		</h3>
		<p class="text-contrast-permanent/80">
			Impact Web Studio was started with a simple belief - that every business
			deserves a website that works as hard as they do.
		</p>
		<p class="text-sm desktop:text-lg font-bold leading-tight">
			Kenny Nguyen <br /> Founder, Lead Developer
		</p>
	</div>
</div>
