---

---

<div>
	<p>
		I'm Kenny, the owner and lead developer at Impact Web Studio. I started
		Impact Web Studio with a singular mission - to help business owners shift
		their energy from the things they need to do to grow their business, towards
		the things they originally did. At Impact Web Studio, we get it — being a
		business owner is tough. There's never enough time in the day, and it can
		feel like you're always playing catch-up. That's where we come in. We help
		businesses like yours free up precious time and resources by creating
		websites and systems that work for you. That means more time to focus on
		what matters most — whether it's spending time with your family, growing
		your business, or just taking a breather. Because we believe in making your
		life easier, not harder.
	</p>
</div>
