---
import { Image } from 'astro:assets';
import Logo from '@assets/brand/iws-logo.svg';
---

<a
	class="w-25 h-12 desktop:w-36 desktop:h-16"
	href="/"
>
	<Image
		src={Logo}
		alt="Impact Web Studio Logo"
		class="w-full h-full"
	/>
</a>
