---
// [Styles] Logo: <a> and <img>
const { logoContainer, logoImg } = {
	logoContainer: 'w-25 h-12 desktop:w-36 desktop:h-16',
	logoImg: 'w-full h-full',
};
---

<a
	class=`${logoContainer}`
	href="/"
>
	<img
		class=`${logoImg}`
		src="/src/assets/brand/iws-logo.svg"
		alt="Impact Web Studio Logo"
	/>
</a>
