/* Fonts */
/* Register your custom font family and tell the browser where to find it. */
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Poppins/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Poppins/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* IMPACT WEB STUDIO STYLES, RESET, HEADER/NAVIGATION AND FOOTER */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* IWS Root and Helpers */
@media only screen and (min-width: 0rem) {
	:root {
		font-size: 16px;

		--primary: #232ed1;
		--primaryDark: #192b80;
		--primaryLight: #ffd675;
		--secondary: #001f3f;
		--secondaryLight: #001f3f;
		--headerColor: #1a1a1a;
		--bodyTextColor: #4e4b66;
		--bodyTextColorWhite: #fafbfc;
		--bgColor: #1b1b42;

		/* IWS Colors */
		--dark-one: #181818;
		--dark-two: #37474f;
		--dark-three: #37474fbf;
		--primary-blue: #192b80;
		--accent-blue-light-mode: #232ed1;
		--accent-yellow-light-mode: #ffcd39;
		--light-one: #fafafa;
		--light-two: #fafafacc;
		--light-three: #fafafa80;
		--accent-blue-dark-mode: #a7c7e7;
		--accent-yellow-dark-mode: #ffd675;
		--primary-green: #37474f;
		--off-white-bg: #eee;

		/* 13px - 16px */
		--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
		/* 31px - 49px */
		--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
		--bodyFontSize: 1rem;
		/* 60px - 100px top and bottom */
		--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
	}
	.iws-topper {
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		text-align: inherit;
	}
	.iws-title {
		position: relative;
		margin: 0 0 1rem 0;
		font-size: var(--headerFontSize);
		line-height: 1.2em;
		font-weight: 900;
		color: var(--headerColor);
		text-align: inherit;
	}
	.iws-text {
		margin: 0;
		width: 100%;
		font-size: 1rem;
		line-height: 1.5em;
		color: var(--dark-one);
		text-align: inherit;
	}
	.iws-button-solid {
		z-index: 1;
		position: relative;
		display: inline-block;
		background-color: var(--primary);
		width: auto;
		padding: 0 1.875rem;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1rem;
		line-height: 3.125em;
		font-weight: bold;
		color: var(--dark-one);
		transition: color 0.3s;
		transition-delay: 0.1s;
		text-align: center;
	}
	.iws-button-solid:hover {
		color: var(--light-one);
	}
	.iws-button-solid:hover:before {
		width: 100%;
	}
	.iws-button-solid:before {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		opacity: 1;
		display: block;
		background-color: var(--dark-one);
		height: 100%;
		width: 0;
		transition: width 0.3s;
	}
	.iws-hide-on-mobile {
		display: none;
	}
}

/* Mobile Layouts */
@media screen and (min-width: 0rem) {
	section {
		padding: 3rem 0.75rem;
		align-items: center;
	}
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	.iws-hide-on-mobile {
		display: block;
	}
	.iws-hide-on-desktop {
		display: none;
	}
}
/* Fonts and general styles */
@media only screen and (min-width: 0rem) {
	body,
	html {
		margin: 0;
		overflow-x: hidden;
		padding: 0;
		font-family: 'Roboto', Arial, sans-serif;
		font-size: 100%;
		color: var(--bodyTextColor);
		width: 100dvw;
	}
	*,
	*:before,
	*:after {
		margin: 0;
		box-sizing: border-box;
		padding: 0;
	}
	body {
		transition: background-color 0.3s;
	}
	.container {
		position: relative;
		margin: auto;
		width: 92%;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		color: var(--headerColor);
		font-family: 'Poppins', 'Arial', sans-serif;
		letter-spacing: -0.03em;
		font-weight: 700;
	}
	p,
	li,
	a {
		margin: 0;
		font-size: 1rem;
		line-height: 1.5em;
	}
	p,
	li {
		color: #353535;
	}
	a:hover,
	button:hover {
		cursor: pointer;
	}
	.skip {
		z-index: -1111111;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}
	/* roboto-regular - latin */

	/* Reset Margins */
	@media only screen and (min-width: 1024px) {
		body,
		html {
			margin: 0;
			padding: 0;
		}
	}
	/* Scale full website with the viewport width */
	@media only screen and (min-width: 3000px) {
		body,
		html {
			font-size: 0.55vw;
		}
	}
	/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/
	/* Mobile - 360px */
	@media only screen and (min-width: 0rem) {
		body.dark-mode #dark-mode-toggle .iws-sun {
			opacity: 1;
			transform: translate(-50%, -50%);
		}
		body.dark-mode #dark-mode-toggle .iws-moon {
			opacity: 0;
			transform: translate(-50%, -150%);
			fill: var(--light-one);
		}
		#dark-mode-toggle {
			z-index: 1000;
			position: absolute;
			top: 0.625rem;
			right: 4.375rem;
			display: block;
			border: none;
			background: transparent;
			height: 3rem;
			width: 3rem;
			overflow: hidden;
			padding: 0;
		}
		#dark-mode-toggle img,
		#dark-mode-toggle svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 1.25rem;
			width: 1.25rem;
			pointer-events: none;
		}
		#dark-mode-toggle .iws-moon {
			z-index: 2;
			transition:
				transform 0.3s,
				opacity 0.3s;
		}
		#dark-mode-toggle .iws-sun {
			z-index: 1;
			opacity: 0;
			transform: translate(-50%, 100%);
			transition:
				transform 0.3s,
				opacity 0.3s;
		}
	}
	/* Desktop - 1024px */
	@media only screen and (min-width: 64rem) {
		#dark-mode-toggle {
			position: relative;
			top: auto;
			right: auto;
			transform: none;
			margin: 0;
		}
		#dark-mode-toggle:hover {
			cursor: pointer;
		}
	}
	/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
	/* Mobile - 1023px */
	@media only screen and (max-width: 63.9375rem) {
		body.iws-open {
			overflow: hidden;
		}
		#iws-navigation {
			z-index: 10000;
			position: fixed;
			background-color: var(--light-one);
			width: 100%;
			/* prevents padding from affecting height and width */
			box-sizing: border-box;
			padding: 0.75rem 1rem;
			/* remove the font family so the Stitch inherits the fonts from your global stylesheet */
			font-family: 'Roboto', 'Arial', sans-serif;
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		}
		#iws-navigation .iws-container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
		}
		#iws-navigation .iws-logo {
			z-index: 10;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto 0 0;
			height: 100%;
			max-width: 9.125rem;
			width: 40%;
			/* prevents padding from affecting height and width */
			box-sizing: border-box;
			padding: 0;
		}
		#iws-navigation .iws-logo img {
			height: 100%;
			width: 100%;
			/* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
			object-fit: contain;
			/* places the image to the left edge of the parent */
			object-position: left;
		}
		#iws-navigation .iws-toggle {
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			border-radius: 0.25rem;
			margin: 0 0 0 auto;
			background-color: transparent;
			height: clamp(2.75rem, 6vw, 3rem);
			/* 44px - 48px */
			width: clamp(2.75rem, 6vw, 3rem);
		}
		#iws-navigation .iws-active .iws-line1 {
			top: 50%;
			transform: translate(-50%, -50%) rotate(225deg);
		}
		#iws-navigation .iws-active .iws-line2 {
			top: 50%;
			transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
			transform-origin: center;
		}
		#iws-navigation .iws-active .iws-line3 {
			bottom: 100%;
			opacity: 0;
		}
		#iws-navigation .iws-box {
			position: relative;
			/* 14px - 16px */
			height: clamp(0.875rem, 1.5vw, 1rem);
			/* 24px - 28px */
			width: clamp(1.5rem, 2vw, 1.75rem);
		}
		#iws-navigation .iws-line {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 2px;
			background-color: #1a1a1a;
			height: 2px;
			width: 100%;
		}
		#iws-navigation .iws-line1 {
			top: 0;
			transition:
				transform 0.5s,
				top 0.3s,
				left 0.3s;
			animation-duration: 0.7s;
			animation-timing-function: ease;
			animation-direction: normal;
			animation-fill-mode: forwards;
			transform-origin: center;
		}
		#iws-navigation .iws-line2 {
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			transition:
				top 0.3s,
				left 0.3s,
				transform 0.5s;
			animation-duration: 0.7s;
			animation-timing-function: ease;
			animation-direction: normal;
			animation-fill-mode: forwards;
		}
		#iws-navigation .iws-line3 {
			bottom: 0;
			transition:
				bottom 0.3s,
				opacity 0.3s;
		}
		#iws-navigation .iws-ul-wrapper {
			z-index: -1;
			position: absolute;
			top: 100%;
			left: auto;
			right: 0;
			opacity: 0;
			visibility: hidden;
			transform: scaleX(0);
			background-color: var(--light-one);
			height: 100vh;
			overflow: hidden;
			transition:
				transform 0.4s,
				opacity 0.3s;
			box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
			transform-origin: top right;
		}
		#iws-navigation .iws-ul {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-end;
			margin: 0;
			height: 65vh;
			min-width: 40%;
			width: auto;
			overflow: scroll;
			/* 28px - 40px */
			padding: 3rem clamp(1.75rem, 3vw, 2.5rem) 2rem 4.375rem;
			gap: 1.25rem;
		}
		#iws-navigation .iws-li {
			opacity: 0;
			/* transition from these values */
			transform: translateX(-2.5rem);
			margin-right: 0;
			width: 100%;
			list-style: none;
			transition:
				transform 0.6s,
				opacity 0.9s;
			text-align: right;
		}
		#iws-navigation .iws-li:nth-of-type(1) {
			transition-delay: 0.05s;
		}
		#iws-navigation .iws-li:nth-of-type(2) {
			transition-delay: 0.1s;
		}
		#iws-navigation .iws-li:nth-of-type(3) {
			transition-delay: 0.15s;
		}
		#iws-navigation .iws-li:nth-of-type(4) {
			transition-delay: 0.2s;
		}
		#iws-navigation .iws-li:nth-of-type(5) {
			transition-delay: 0.25s;
		}
		#iws-navigation .iws-li:nth-of-type(6) {
			transition-delay: 0.3s;
		}
		#iws-navigation .iws-li:nth-of-type(7) {
			transition-delay: 0.35s;
		}
		#iws-navigation .iws-li:nth-of-type(8) {
			transition-delay: 0.4s;
		}
		#iws-navigation .iws-li:nth-of-type(9) {
			transition-delay: 0.45s;
		}
		#iws-navigation .iws-li-link {
			position: relative;
			display: inline-block;
			margin: 0;
			text-decoration: none;
			/* 16px - 24px */
			font-size: clamp(1rem, 2.5vw, 1.5rem);
			line-height: 1.2em;
			color: var(--headerColor);
		}
		#iws-navigation .iws-li-link:before {
			position: absolute;
			bottom: -0.125rem;
			left: 0;
			/* active state underline */
			content: '';
			opacity: 1;
			display: none;
			background: currentColor;
			height: 1px;
			width: 100%;
		}
		#iws-navigation .iws-li-link.iws-active:before {
			display: block;
		}
		#iws-navigation .iws-button-solid {
			display: none;
		}
		#iws-navigation:before {
			z-index: -11;
			position: absolute;
			top: 100%;
			right: 0;
			/* black blurred overlay */
			content: '';
			opacity: 0;
			display: block;
			background: rgba(0, 0, 0, 0.6);
			height: 100vh;
			width: 0%;
			transition:
				width 0.5s,
				opacity 0.3s;
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
		}
		#iws-navigation.iws-active .iws-ul-wrapper {
			opacity: 1;
			visibility: visible;
			transform: scaleX(1);
			transition-delay: 0.2s;
		}
		#iws-navigation.iws-active .iws-li {
			opacity: 1;
			transform: translateX(0);
		}
		#iws-navigation.iws-active:before {
			opacity: 1;
			width: 100%;
		}
	}
	/* Dark Mode */
	@media only screen and (max-width: 63.9375rem) {
		body.dark-mode #iws-navigation {
			background-color: var(--dark);
		}
		body.dark-mode #iws-navigation .iws-logo {
			/* makes it white */
			filter: grayscale(1) brightness(1000%);
		}
		body.dark-mode #iws-navigation .iws-line {
			background-color: var(--light-one);
		}
		body.dark-mode #iws-navigation .iws-ul-wrapper {
			background-color: var(--medium);
		}
		body.dark-mode #iws-navigation .iws-li-link {
			color: var(--bodyTextColorWhite);
		}
	}
	/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/
	/* Mobile - 1023px */
	@media only screen and (max-width: 63.9375rem) {
		#iws-navigation .iws-dropdown {
			position: relative;
			color: var(--bodyTextColorWhite);
		}
		#iws-navigation .iws-dropdown .iws-li-link {
			position: relative;
			transition: opacity 0.3s;
		}
		#iws-navigation .iws-dropdown.iws-active .iws-drop-ul {
			visibility: visible;
			opacity: 1;
			transform: scale(1);
			margin: 0.75rem 0 0 0;
			height: auto;
			padding: 1.5rem;
		}
		#iws-navigation .iws-dropdown.iws-active .iws-drop-link {
			opacity: 1;
		}
		#iws-navigation .iws-dropdown-button {
			border: none;
			background-color: transparent;
			font-family: inherit;
			font-size: clamp(1rem, 2.5vw, 1.5rem);
			cursor: pointer;
			appearance: none;
		}
		#iws-navigation .iws-drop-icon {
			position: absolute;
			top: 50%;
			right: -1.25rem;
			transform: translateY(-50%);
			height: auto;
			width: 0.9375rem;
		}
		#iws-navigation .iws-drop-ul {
			visibility: hidden;
			opacity: 0;
			transform: scale(0);
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-end;
			margin: 0;
			background-color: var(--primary);
			height: 0;
			width: 100%;
			box-sizing: border-box;
			overflow: hidden;
			padding: 0 1.5rem 0 1.5rem;
			transition:
				padding 0.3s,
				margin 0.3s,
				height 0.3s,
				opacity 0.3s,
				transform 0.3s,
				visibility 0.3s;
			gap: 0.75rem;
			transform-origin: top right;
		}
		#iws-navigation .iws-drop-li {
			list-style: none;
			text-align: inherit;
		}
		#iws-navigation .iws-li-link.iws-drop-link {
			/* 14px - 16px */
			font-size: clamp(0.875rem, 2vw, 1.25rem);
			color: var(--light-one);
		}
	}
	/* Desktop - 1024px */
	@media only screen and (min-width: 64rem) {
		#iws-navigation .iws-dropdown {
			position: relative;
		}
		#iws-navigation .iws-dropdown.iws-active,
		#iws-navigation .iws-dropdown:hover {
			cursor: pointer;
		}
		#iws-navigation .iws-dropdown.iws-active .iws-drop-ul,
		#iws-navigation .iws-dropdown:hover .iws-drop-ul {
			visibility: visible;
			opacity: 1;
			transform: scaleY(1);
		}
		#iws-navigation .iws-dropdown.iws-active .iws-drop-li,
		#iws-navigation .iws-dropdown:hover .iws-drop-li {
			opacity: 1;
			transform: translateY(0);
		}
		#iws-navigation .iws-dropdown-button {
			border: none;
			background-color: transparent;
			font-family: inherit;
			font-size: inherit;
			cursor: pointer;
			appearance: none;
		}
		#iws-navigation .iws-drop-icon {
			display: inline-block;
			height: auto;
			width: 0.9375rem;
		}
		#iws-navigation .iws-drop-ul {
			z-index: -100;
			/* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the iws-drop-li so they don't have weird scattered animations */
			position: absolute;
			top: 100%;
			visibility: hidden;
			opacity: 0;
			transform: scaleY(0);
			border-bottom: 5px solid var(--primary);
			margin: 0;
			background-color: var(--light-one);
			min-width: 12.5rem;
			overflow: hidden;
			padding: 0;
			transition:
				transform 0.3s,
				visibility 0.3s,
				opacity 0.3s;
			box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
			transform-origin: top;
		}
		#iws-navigation .iws-drop-li {
			opacity: 0;
			transform: translateY(-0.625rem);
			display: block;
			height: auto;
			width: 100%;
			list-style: none;
			text-decoration: none;
			font-size: 1rem;
			color: var(--bodyTextColor);
			transition:
				opacity 0.6s,
				transform 0.6s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(1) {
			transition-delay: 0.05s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(2) {
			transition-delay: 0.1s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(3) {
			transition-delay: 0.15s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(4) {
			transition-delay: 0.2s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(5) {
			transition-delay: 0.25s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(6) {
			transition-delay: 0.3s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(7) {
			transition-delay: 0.35s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(8) {
			transition-delay: 0.4s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(9) {
			transition-delay: 0.45s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(10) {
			transition-delay: 0.5s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(11) {
			transition-delay: 0.55s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(12) {
			transition-delay: 0.6s;
		}
		#iws-navigation .iws-drop-li:nth-of-type(13) {
			transition-delay: 0.65s;
		}
		#iws-navigation .iws-li-link.iws-drop-link {
			display: block;
			width: 100%;
			/* prevents padding from affecting height and width */
			box-sizing: border-box;
			padding: 0.75rem;
			white-space: nowrap;
			text-decoration: none;
			font-size: 1rem;
			line-height: 1.5em;
			color: var(--bodyTextColor);
			transition:
				color 0.3s,
				background-color 0.3s;
		}
		#iws-navigation .iws-li-link.iws-drop-link:hover {
			background-color: #f7f7f7;
		}
		#iws-navigation .iws-li-link.iws-drop-link:focus-visible {
			outline: 2px solid currentColor;
			outline-offset: -4px;
		}
		#iws-navigation .iws-li-link.iws-drop-link:before {
			display: none;
		}
	}
	/* Dark Mode */
	@media only screen and (min-width: 0rem) {
		body.dark-mode #iws-navigation .iws-drop-ul {
			background-color: var(--dark);
		}
		body.dark-mode #iws-navigation .iws-li-link.iws-drop-link:hover {
			background-color: var(--medium);
		}
		body.dark-mode #iws-navigation .iws-drop-icon {
			/* turns it white */
			filter: grayscale(1) brightness(1000%);
		}
	}
	/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
	/* Small Desktop - 1024px */
	@media only screen and (min-width: 64rem) {
		#iws-navigation {
			z-index: 10000;
			position: fixed;
			background-color: var(--light-one);
			width: 100%;
			/* prevents padding from affecting height and width */
			box-sizing: border-box;
			padding: 0 1rem;
			/* remove the font family so the Stitch inherits the fonts from your global stylesheet */
			font-family: 'Roboto', 'Arial', sans-serif;
			box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		}
		#iws-navigation .iws-container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin: auto;
			max-width: 80rem;
			width: 100%;
			gap: 1.5rem;
		}
		#iws-navigation .iws-toggle {
			display: none;
		}
		#iws-navigation .iws-logo {
			z-index: 100;
			display: flex;
			justify-content: center;
			align-items: center;
			/* margin-right auto pushes everything away from it to the right */
			margin: 0 auto 0 0;
			height: 4.0625rem;
			max-width: 21.875rem;
			width: 18.4%;
			padding: 0;
		}
		#iws-navigation .iws-logo img {
			height: 100%;
			width: 100%;
			/* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
			object-fit: contain;
		}
		#iws-navigation .iws-ul {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin: 0;
			width: 100%;
			padding: 0;
			/* 20px - 36px */
			gap: clamp(1.25rem, 2.6vw, 2.25rem);
		}
		#iws-navigation .iws-li {
			padding: 2rem 0;
			list-style: none;
			/* prevent flexbox from squishing it */
			flex: none;
		}
		#iws-navigation .iws-li-link {
			position: relative;
			display: block;
			margin: 0;
			text-decoration: none;
			/* 14px - 16px */
			font-size: clamp(0.875rem, 1vw, 1rem);
			line-height: 1.5em;
			color: var(--bodyTextColor);
		}
		#iws-navigation .iws-li-link:hover:before {
			width: 100%;
		}
		#iws-navigation .iws-li-link:before {
			position: absolute;
			bottom: 0rem;
			left: 0;
			/* active state underline */
			content: '';
			opacity: 1;
			display: block;
			background: var(--primary);
			height: 2px;
			width: 0%;
			transition: width 0.3s;
		}
		#iws-navigation .iws-li-link.iws-active:before {
			width: 100%;
		}
	}
	/* Dark Mode */
	@media only screen and (min-width: 64rem) {
		body.dark-mode #iws-navigation {
			background-color: var(--dark);
		}
		body.dark-mode #iws-navigation .iws-logo {
			/* makes it turn white */
			filter: grayscale(1) brightness(1000%);
		}
		body.dark-mode #iws-navigation .iws-li-link {
			color: var(--bodyTextColorWhite);
		}
		body.dark-mode #iws-navigation .iws-li-link:before {
			background-color: var(--primaryLight);
		}
	}
	/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/
	/* Mobile */
	@media only screen and (min-width: 0rem) {
		#int-hero {
			z-index: 1;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: 30vh;
			padding-top: 3.125rem;
		}
		#int-hero picture {
			z-index: -2;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
		#int-hero picture img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		#int-hero h1 {
			position: relative;
			margin: 0 auto;
			margin-top: 4.375rem;
			margin-bottom: 1.875rem;
			max-width: 31.25rem;
			width: 96%;
			font-size: 2.1333333333rem;
			color: var(--light-one);
			text-align: center;
		}
		#int-hero p {
			display: block;
			margin: auto;
			margin-bottom: 1.875rem;
			max-width: 25rem;
			width: 96%;
			color: var(--light-one);
			text-align: center;
		}
		#int-hero:before {
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			opacity: 0.7;
			display: block;
			background: var(--dark-one);
			height: 100%;
			width: 100%;
		}
	}
	/* Tablet */
	@media only screen and (min-width: 48rem) {
		#int-hero {
			font-size: 100%;
		}
		#int-hero h1 {
			font-size: 4rem;
		}
	}
	/* Small Desktop */
	@media only screen and (min-width: 64rem) {
		#int-hero {
			background-attachment: fixed;
			min-height: 18.75rem;
			height: auto;
			padding-top: 11.25rem;
			font-size: inherit;
			padding-block-end: 6.25rem;
		}
	}
}
