/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
	#gallery {
		position: relative;
		/* Prevents overflow from the image going off screen */
		overflow: hidden;
		padding: var(--sectionPadding);
		/* Centers button */
		text-align: center;
	}
	#gallery .iws-container {
		margin: auto;
		max-width: 82.625em;
		width: 100%;
	}
	#gallery .iws-topper {
		margin-bottom: 1rem;
		text-align: center;
	}
	#gallery .iws-title {
		margin-bottom: 2.5rem;
		max-width: 38.8125rem;
		text-align: center;
	}
	#gallery .iws-image-group {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin: 0 auto 3.75rem;
		max-width: 82.625em;
		width: 100%;
		padding: 0;
		/* used rem so it doesn't scale with the font size of on parent */
		font-size: min(1.1vw, 1em);
		gap: 1.875em;
	}
	#gallery .iws-row {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 1.875em;
	}
	#gallery .iws-picture {
		position: relative;
		display: block;
	}
	#gallery .iws-picture img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	#gallery .iws-row-1 .iws-picture1 {
		height: 35.4375em;
		width: 26.25em;
	}
	#gallery .iws-row-1 .iws-picture2 {
		height: 39.3125em;
		width: 26.25em;
	}
	#gallery .iws-row-1 .iws-picture3 {
		height: 32em;
		width: 26.25em;
	}
	#gallery .iws-row-2 .iws-picture1 {
		height: 30.75em;
		width: 26.25em;
	}
	#gallery .iws-row-2 .iws-picture2 {
		height: 32.3125em;
		width: 26.25em;
	}
	#gallery .iws-row-2 .iws-picture3 {
		height: 39.3125em;
		width: 26.25em;
	}
	#gallery .iws-row-3 .iws-picture1 {
		height: 39.0625em;
		width: 26.25em;
	}
	#gallery .iws-row-3 .iws-picture2 {
		height: 28.25em;
		width: 26.25em;
	}
	#gallery .iws-row-3 .iws-picture3 {
		height: 39.3125em;
		width: 26.25em;
	}
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode #gallery .iws-title {
		color: var(--bodyTextColorWhite);
	}
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#reviews {
		padding: var(--sectionPadding);
		/* Centers the button */
		text-align: center;
	}
	#reviews .iws-container {
		margin: auto;
		max-width: 69rem;
		width: 100%;
	}
	#reviews .iws-topper {
		margin-bottom: 1rem;
		text-align: center;
	}
	#reviews .iws-title {
		max-width: 43.75rem;
		text-align: center;
	}
	#reviews .iws-text {
		/* 88px - 104px */
		margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
		max-width: 40.625rem;
		text-align: center;
	}
	#reviews .iws-card-group {
		/* 48px - 64px */
		margin: 0 auto clamp(3rem, 5vw, 4rem);
		padding: 0;
	}
	#reviews .iws-item {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		border-radius: 0.25rem;
		margin: 0 auto 4rem;
		background: #fff;
		max-width: 33.875rem;
		width: 100%;
		/* Prevents padding from affecting height & width */
		box-sizing: border-box;
		/* Padding L & R - 16px - 32px */
		padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
		/* 32px - 40px */
		padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
		list-style: none;
		text-align: left;
		box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
	}
	#reviews .iws-item:last-of-type {
		margin-bottom: 0;
	}
	#reviews .iws-item-img {
		position: absolute;
		top: -2.5rem;
		height: 5rem;
		width: 5rem;
	}
	#reviews .iws-item-p {
		border-bottom: 1px solid #e8e9ec;
		margin: 0 0 1.25rem;
		padding-bottom: 1.25rem;
		font-size: 1rem;
		line-height: 1.5em;
		color: var(--bodyTextColor);
	}
	#reviews .iws-reviewer {
		display: block;
		margin: 0 auto 0 0;
		width: 40%;
		font-size: 1rem;
		line-height: 1.5em;
		font-weight: 700;
		color: var(--headerColor);
	}
	#reviews .iws-desc {
		display: block;
		font-size: 0.875rem;
		font-weight: 400;
		color: var(#353535);
	}
	#reviews .iws-item-stars {
		height: 1rem;
		width: 6rem;
	}
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#reviews .iws-card-group {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}
	#reviews .iws-item {
		/* reset margin so it won't interfere with flexbox */
		margin: 0;
	}
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode #reviews .iws-title,
	body.dark-mode #reviews .iws-text,
	body.dark-mode #reviews .iws-item-p,
	body.dark-mode #reviews .iws-reviewer {
		color: var(--bodyTextColorWhite);
	}
	body.dark-mode #reviews .iws-item {
		background: var(--medium);
	}
	body.dark-mode #reviews .iws-desc {
		color: var(--primaryLight);
	}
}
