/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
	#gallery {
		position: relative;
		/* Prevents overflow from the image going off screen */
		overflow: hidden;
		padding: var(--sectionPadding);
		/* Centers button */
		text-align: center;
	}
	#gallery .iws-container {
		margin: auto;
		max-width: 82.625em;
		width: 100%;
	}
	#gallery .iws-topper {
		margin-bottom: 1rem;
		text-align: center;
	}
	#gallery .iws-title {
		margin-bottom: 2.5rem;
		max-width: 38.8125rem;
		text-align: center;
	}
	#gallery .iws-image-group {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin: 0 auto 3.75rem;
		max-width: 82.625em;
		width: 100%;
		padding: 0;
		/* used rem so it doesn't scale with the font size of on parent */
		font-size: min(1.1vw, 1em);
		gap: 1.875em;
	}
	#gallery .iws-row {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 1.875em;
	}
	#gallery .iws-picture {
		position: relative;
		display: block;
	}
	#gallery .iws-picture img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	#gallery .iws-row-1 .iws-picture1 {
		height: 35.4375em;
		width: 26.25em;
	}
	#gallery .iws-row-1 .iws-picture2 {
		height: 39.3125em;
		width: 26.25em;
	}
	#gallery .iws-row-1 .iws-picture3 {
		height: 32em;
		width: 26.25em;
	}
	#gallery .iws-row-2 .iws-picture1 {
		height: 30.75em;
		width: 26.25em;
	}
	#gallery .iws-row-2 .iws-picture2 {
		height: 32.3125em;
		width: 26.25em;
	}
	#gallery .iws-row-2 .iws-picture3 {
		height: 39.3125em;
		width: 26.25em;
	}
	#gallery .iws-row-3 .iws-picture1 {
		height: 39.0625em;
		width: 26.25em;
	}
	#gallery .iws-row-3 .iws-picture2 {
		height: 28.25em;
		width: 26.25em;
	}
	#gallery .iws-row-3 .iws-picture3 {
		height: 39.3125em;
		width: 26.25em;
	}
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode #gallery .iws-title {
		color: var(--bodyTextColorWhite);
	}
}
