/* ==================================
	ROOT VARIABLES
================================== */
:root {
	/*** Typography ***/
	font-size: 16px;
	/* 14px - 16px */
	--topperFontSize: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
	/* 28px - 96px */
	--titleFontSize: clamp(1.75rem, 0.5357rem + 6.0714vw, 6rem);
	/* 28px - 56px */
	--headerFontSize: clamp(1.75rem, 1.25rem + 2.5vw, 3.5rem);
	/* 16px - 18px */
	--bodyFontSize: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
	/*  top/bot: 60px - 120px | sides: 12px - 32px */
	--sectionPadding: clamp(3.75rem, 2.6786rem + 5.3571vw, 7.5rem)
		clamp(0.75rem, 0.3929rem + 1.7857vw, 2rem);
	--bannerPadding: clamp(10rem, 8.5714rem + 7.1429vw, 15rem) 0rem
		clamp(3rem, 2.4286rem + 2.8571vw, 5rem) 0rem;

	/*** Layout  ***/
	/* Content Wrapper - 1100px */
	--wrapper-max-width: 80rem;
	--card-max-width: 30rem;
}

/* ==================================
	GRID LAYOUT
================================== */

/* 3 cards */
.grid-container.card-group {
	display: grid;
	gap: 1rem;
}

/* Mobile: Stack all cards */
@media (width < 40rem) {
	.grid-container.card-group {
		grid-template-columns: 1fr;
	}
}

/* Tablet: 2 cards on top (each ~50% width) and 1 stretched below */
@media (width >= 40rem) and (width < 80rem) {
	.grid-container.card-group {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}

	.grid-container.card-group.odd-group > :nth-child(3) {
		grid-column: span 2; /* Stretch third card across both columns */
	}
}

/* Desktop: 3 items per row */
@media (width >= 80rem) {
	.grid-container.card-group {
		grid-template-columns: repeat(3, 1fr);
	}
}
/* More than 3 items (list-group) */
/* ==================================
	IMAGES
================================== */

/* MEDIA QUERIES */

/* 0 - 599px */
@media screen and (width = 0rem) {
}

/* 600px - 1099px */
@media screen and (width >= 37.5rem) {
	.wrapper {
		max-width: 85%;
	}

	picture,
	img {
		max-width: 100%;
		display: block;
		margin: 0;
	}

	.section-image {
		max-width: 85%;
		margin: 0 auto;
	}
}

/* 1100px - 1440px (max) */
@media screen and (width >= 68.76rem) {
}
