/* Typography */

:root {
	font-size: 16px;
	/* 14px - 16px */
	--topperFontSize: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
	/* 28px - 96px */
	--headerFontSize: clamp(1.75rem, 0.5357rem + 6.0714vw, 6rem);

	/* 16px - 18px */
	--bodyFontSize: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);
	/*  top/bot: 60px - 120px | sides: 12px - 32px */
	--sectionPadding: clamp(3.75rem, 2.6786rem + 5.3571vw, 7.5rem)
		clamp(0.75rem, 0.3929rem + 1.7857vw, 2rem);
}

/* Images */

/* MEDIA QUERIES */

/* 0 - 599px */
@media screen and (width = 0rem) {
}

/* 600px - 1099px */
@media screen and (width >= 37.5rem) {
	.wrapper {
		max-width: 85%;
	}

	picture:not(:has(.blog-image)),
	img:not(.blog-image) {
		max-width: 85%;
		display: block;
		margin: 0 auto;
	}
}

/* 1100px - 1440px (max) */
@media screen and (width >= 68.76rem) {
}
