---
import Layout from 'src/layouts/Layout.astro';
import PageBanner from '@/components/PageBanner.astro';
import CTA from 'src/components/CTA.astro';

const title = 'About | Impact Web Studio';
const description = 'Meta description for the page';
preloadImg: '/assets/images/cabinets2.jpg';
---

<Layout
	title={title}
	description={description}
>
	<link
		rel='stylesheet'
		href='/public/styles/css/about.css'
		slot='head'
	/>

	<PageBanner pageTitle='About Us' />

	<!-- ============================================ -->
	<!--                 Side By Side                 -->
	<!-- ============================================ -->

	<section id='sbs'>
		<div class='iws-container'>
			<!-- Left Image Section -->
			<div class='iws-left'>
				<picture class='iws-picture iws-picture1'>
					<source
						media='(max-width: 600px)'
						srcset='/assets/images/toronto-cn-tower.webp'
					/>
					<source
						media='(min-width: 601px)'
						srcset='/assets/images/toronto-cn-tower.webp'
					/>
					<img
						aria-hidden='true'
						decoding='async'
						srcset='/assets/images/toronto-cn-tower.webp'
						alt='cabinets'
						loading='lazy'
						width='400'
						height='563'
					/>
				</picture>
				<picture class='iws-picture iws-picture2'>
					<source
						media='(max-width: 600px)'
						srcset='/assets/images/kenny/kenny-outdoors.jpeg'
					/>
					<source
						media='(min-width: 601px)'
						srcset='/assets/images/kenny/kenny-outdoors.jpeg'
					/>
					<img
						aria-hidden='true'
						decoding='async'
						srcset='/assets/images/kenny/kenny-outdoors.jpeg'
						alt='house'
						loading='lazy'
						width='400'
						height='563'
					/>
				</picture>
			</div>
			<!-- Right Content Section-->
			<div class='iws-right'>
				<h1 class='iws-topper'>About Impact Web Studio</h1>
				<h2 class='iws-title'>Behind the scenes</h2>
				<p class='iws-text'>
					I'm Kenny, the owner and lead developer at Impact Web Studio. My
					journey into web development started in high school with robotics, but
					I quickly gravitated toward web design and development during my
					university studies. Coming from a family of nine, I initially built
					websites to help my siblings launch their businesses. That passion
					grew into a full-time career, and now I run a team dedicated to
					creating high-quality websites for small businesses across Canada and
					the United States.
				</p>
				<p class='iws-text'>
					Over time, what we've found was that one of the biggest challenges
					small business owners face is the upfront cost of a professional
					website. Those that can afford it sometimes end up with outdated,
					poorly designed sites that don't perform well. It's a frustrating
					situation - businesses either don't have the budget for a great
					website or don't know who to trust to build one.
				</p>
				<p class='iws-text'>
					That's why I created a pricing model that works for them: $0 down and
					just $175 a month. This makes it easy for small businesses to get a
					modern, professional website without the financial strain. At Impact
					Web Studio, we're focused on making web design accessible, effective,
					and stress-free, so business owners can focus on what they do
					best-growing their business.
				</p>
				<div class='iws-flex-group'>
					<p class='iws-flex-p'>
						<i>
							Impact Web Studio was started with a simple belief: every
							entrepreneur deserves a website that works as hard as they do.
						</i>
					</p>
					<span class='iws-name'>Kenny Nguyen</span>
					<span class='iws-job'>Owner, Founder</span>
					<img
						class='iws-quote-icon'
						loading='lazy'
						decoding='async'
						src='https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg'
						alt='gavel'
						width='136'
						height='77'
					/>
				</div>
				<a
					href='/projects'
					class='iws-button-solid'
					>Our Projects</a
				>
			</div>
		</div>
	</section>
	<CTA />
</Layout>

<style>
	.banner {
		position: relative;
		background: var(--primary-blue);
		text-align: center;
		color: white;
		padding: var(--bannerPadding);
		display: flex;
		flex-direction: column;
		gap: 0rem;
	}

	h1 {
		text-transform: uppercase;
		color: var(--accent-yellow-light-mode);
		font-size: var(--topperFontSize);
		font-weight: 700;
		letter-spacing: clamp(0.1rem, 0.0571rem + 0.2143vw, 0.25rem);
	}

	h2 {
		color: var(--dark-one);
		font-size: calc(var(--headerFontSize) * 1.5);
		text-transform: uppercase;
		letter-spacing: 0em;
		line-height: 1em;
	}
</style>
