---
import SectionContainer from '../../components/global/SectionContainer.astro';
import SectionHeaderImage from '../../components/global/SectionHeaderImage.astro';
---

<SectionContainer>
	<SectionHeaderImage>
		<div slot="top-right">top-right</div>
		<div slot="bottom-left">bot-left</div>
	</SectionHeaderImage>
</SectionContainer>
