---
const { step, title, description } = Astro.props;
---

<div class='card'>
	<div class='heading'>
		<span>Step {step}.</span>
		<h3>{title}</h3>
	</div>
	<p>{description}</p>
</div>

<style>
	.card {
		border-radius: 0.875rem;
		background: var(--off-white-bg);
		padding: 1rem 0.875rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	span {
		font-weight: bold;
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
	}

	h3 {
		text-transform: uppercase;
		font-size: 1.875rem;
	}

	p {
		color: var(--dark-two);
	}
</style>
