---
import BenefitsCard from '../home/BenefitsCard.astro';
---

<section id='sbs' class="container">
	<div class='iws-container wrapper'>
		<!-- Left Image Section -->
		<div class='iws-left'>
			<picture class='iws-picture'>
				<source
					media='(max-width: 600px)'
					srcset='/assets/images/Website Development.webp'
				/>
				<source
					media='(min-width: 601px)'
					srcset='/assets/images/Website Development.webp'
				/>
				<img
					aria-hidden='true'
					decoding='async'
					src='/assets/images/Website Development.webp'
					alt='website development'
					loading='lazy'
					width='400'
					height='563'
				/>
			</picture>
		</div>
		<!-- Right Content Section-->
		<div class='iws-right'>
			<span class='iws-topper'>What we offer</span>
			<h2 class='iws-title'>
				websites starting at <span class='highlight'>$0 down</span> and <span
					class='highlight'>$175 per month</span
				>
			</h2>
			<p class='iws-text'>
				We offer $0 down for a standard 5 page small business website. If you
				need more than that then we have to do custom pricing based on the scope
				of work, number of additional pages, and time involved. 12 month minimum
				contract. Includes design, development, hosting, unlimited edits, 24/7
				support, and lifetime updates.
			</p>

			<ul class='iws-flex-group benefit-cards'>
				<BenefitsCard
					icon='CheckIcon'
					title='100% secure'
					description='Our sites are just static HTML and CSS code, meaning there’s literally nothing that can be hacked.'
				/>
				<BenefitsCard
					icon='CheckIcon'
					title='Custom Designed'
					description='Our designs are made by an in-house design team, which allows us to make anything we want.'
				/>
				<BenefitsCard
					icon='CheckIcon'
					title='100 pagespeed score'
					description='Our sites have zero bloat, zero waste, and built with purpose so we get perfect 98-100/100 speed scores with Google.'
				/>
				<BenefitsCard
					icon='CheckIcon'
					title='money back guarantee'
					description="If we can't design something you like, you get your money back and the contract is cancelled. We stand by our work."
				/>
				<BenefitsCard
					icon='CheckIcon'
					title='Unlimited edits'
					description="Need to make an update? Just let us know and we'll get it done for you."
				/>
				<BenefitsCard
					icon='CheckIcon'
					title='SEO focused'
					description='No snake oil, no tricks, no lies. We explain very clearly what SEO is, how it works, and what we can do to get you ranking.'
				/>
			</ul>
		</div>
	</div>

	<style>
		/* Mobile - 360px */
		@media only screen and (min-width: 0rem) {
			.iws-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: auto;
				max-width: 80rem;
				width: 100%;
				row-gap: 2.5rem;
			}
			.iws-left {
				position: relative;
				width: 100%;
				height: fit-content;
			}
			.iws-picture {
				border-radius: 1.5em;
				overflow: hidden;
				width: 100%;
				height: 100%;
			}
			.iws-picture img {
				height: 100%;
				width: 100%;
				object-fit: contain;
				/* background: var(--off-white-bg); */
				border-radius: 2rem;
			}

			.iws-right {
				margin: auto;
				max-width: 33.875rem;
			}

			.iws-topper,
			.iws-title,
			.iws-text {
				text-align: center;
			}
			.iws-topper {
				margin-bottom: 0.25rem;
			}
			.iws-title {
				text-transform: uppercase;
				text-transform: uppercase;
				font-size: 1.75rem;
				line-height: 2rem;
				color: var(--dark-one);
			}
			.iws-text {
				margin-bottom: 1rem;
				max-width: 46.875rem;
			}
			.iws-text:last-of-type {
				margin-bottom: 2rem;
			}

			.highlight {
				color: var(--accent-blue-light-mode);
			}

			.iws-flex-group {
				position: relative;
				border-radius: 1rem;
				/* 16px - 32px */
				padding: clamp(1rem, 3vw, 2rem);
			}

			.benefit-cards {
				width: 100%;
				max-width: 39.375rem;
				margin: 0 0 1.5rem 0;
				padding: 0;
				display: grid;
				grid-template-columns: 1fr;
				align-items: center;
				gap: clamp(1rem, 2vw, 1.25rem);
			}
			.iws-flex-p {
				margin: 0 0 1rem;
				/* 14px - 16px */
				font-size: clamp(0.875rem, 1.5vw, 1rem);
				line-height: 1.5em;
				color: #353535;
			}
			.iws-name {
				display: block;
				margin: 0 0 0.25rem;
				text-transform: uppercase;
				font-size: 1rem;
				line-height: 1.2em;
				font-weight: bold;
				color: var(--headerColor);
			}
			.iws-job {
				display: block;
				font-size: 0.875rem;
				line-height: 1.5em;
				color: #353535;
			}
			.iws-quote-icon {
				position: absolute;
				bottom: 0rem;
				/* 16px - 32px */
				right: clamp(1rem, 4vw, 2rem);
				height: auto;
				/* 60px - 136px */
				width: clamp(3.75rem, 10vw, 8.5rem);
			}
			.iws-button-solid {
				margin-top: 2rem;
			}
		}
		/* Desktop - 1024px */
		@media only screen and (min-width: 64rem) {
			.iws-container {
				flex-flow: row;
				justify-content: space-between;
				gap: 3.25rem;
			}
			.iws-left {
				font-size: min(1.2vw, 1em);
				flex: none;
			}
			.iws-right {
				margin: 0;
			}
		}
		/* Dark Mode */
		@media only screen and (min-width: 0rem) {
			body.dark-mode .iws-left:before,
			body.dark-mode .iws-left:after {
				background: var(--accent);
			}
			body.dark-mode .iws-picture2 {
				/* 6px - 12px */
				border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
				background-color: var(--dark);
			}
			body.dark-mode .iws-topper {
				color: var(--primaryLight);
			}
			body.dark-mode .iws-title,
			body.dark-mode .iws-text,
			body.dark-mode .iws-h3,
			body.dark-mode .iws-flex-p,
			body.dark-mode .iws-name {
				color: var(--bodyTextColorWhite);
			}
			body.dark-mode .iws-flex-group {
				background-color: var(--accent);
			}
			body.dark-mode .iws-job {
				opacity: 0.8;
				color: var(--bodyTextColorWhite);
			}
			body.dark-mode .iws-quote-icon {
				opacity: 0.2;
			}
		}
		/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
		/* Mobile - 360px */
		@media only screen and (min-width: 0rem) {
			#sbs-r {
				padding: var(--sectionPadding);
			}
			#sbs-r .iws-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: auto;
				max-width: 80rem;
				width: 100%;
				row-gap: 2.5rem;
			}
			#sbs-r .iws-left {
				position: relative;
				height: 39.75em;
				/* using ems so we can use font size to scale the whole section */
				width: 39.4375em;
				/* scaling the font size with the view width */
				font-size: min(2.31vw, 0.7em);
			}
			#sbs-r .iws-picture {
				position: absolute;
				display: block;
				border-radius: 1.5em;
				/* clips img tag corners */
				overflow: hidden;
			}
			#sbs-r .iws-picture img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				/* makes image act like a background image */
				object-fit: cover;
			}
			#sbs-r .iws-picture {
				top: 0;
				right: 0;
				height: 36.3125em;
				width: 32.625em;
			}
			#sbs-r .iws-picture2 {
				bottom: 0;
				left: 0;
				/* 6px - 12px */
				border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
				background-color: #fff;
				height: 25em;
				width: 25.875em;
				box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
			}
			#sbs-r .iws-right {
				margin: auto;
				max-width: 33.875rem;
			}
			#sbs-r .iws-topper {
				margin-bottom: 0.25rem;
				text-align: left;
			}
			#sbs-r .iws-title {
				max-width: 50rem;
				text-align: left;
			}
			#sbs-r .iws-text {
				margin-bottom: 1rem;
				max-width: 46.875rem;
				text-align: left;
			}
			#sbs-r .iws-text:last-of-type {
				margin-bottom: 2rem;
			}
			#sbs-r .iws-flex-group {
				position: relative;
				border-radius: 1rem;
				/* 16px - 32px */
				padding: clamp(1rem, 3vw, 2rem);
			}
			#sbs-r .iws-flex-p {
				margin: 0 0 1rem;
				/* 14px - 16px */
				font-size: clamp(0.875rem, 1.5vw, 1rem);
				line-height: 1.5em;
				color: #353535;
			}
			#sbs-r .iws-name {
				display: block;
				margin: 0 0 0.25rem;
				text-transform: uppercase;
				font-size: 1rem;
				line-height: 1.2em;
				font-weight: bold;
				color: var(--headerColor);
			}
			#sbs-r .iws-job {
				display: block;
				font-size: 0.875rem;
				line-height: 1.5em;
				color: #353535;
			}
			#sbs-r .iws-quote-icon {
				position: absolute;
				bottom: 0rem;
				/* 16px - 32px */
				right: clamp(1rem, 4vw, 2rem);
				height: auto;
				/* 60px - 136px */
				width: clamp(3.75rem, 10vw, 8.5rem);
			}
		}
		/* Desktop - 1024px */
		@media only screen and (min-width: 64rem) {
			#sbs-r .iws-container {
				flex-flow: row;
				justify-content: space-between;
				gap: 3.25rem;
			}
			#sbs-r .iws-left {
				/* sends it to the right */
				order: 2;
				font-size: min(1.2vw, 1em);
				flex: none;
			}
			#sbs-r .iws-right {
				margin: 0;
			}
		}
		/* Dark Mode */
		@media only screen and (min-width: 0rem) {
			body.dark-mode #sbs-r .iws-left:before,
			body.dark-mode #sbs-r .iws-left:after {
				background: var(--accent);
			}
			body.dark-mode #sbs-r .iws-picture2 {
				/* 6px - 12px */
				border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
				background-color: var(--dark);
			}
			body.dark-mode #sbs-r .iws-topper {
				color: var(--primaryLight);
			}
			body.dark-mode #sbs-r .iws-title,
			body.dark-mode #sbs-r .iws-text,
			body.dark-mode #sbs-r .iws-h3,
			body.dark-mode #sbs-r .iws-flex-p,
			body.dark-mode #sbs-r .iws-name {
				color: var(--bodyTextColorWhite);
			}
			body.dark-mode #sbs-r .iws-flex-group {
				background-color: var(--accent);
			}
			body.dark-mode #sbs-r .iws-job {
				opacity: 0.8;
				color: var(--bodyTextColorWhite);
			}
			body.dark-mode #sbs-r .iws-quote-icon {
				opacity: 0.2;
			}
		}
	</style>
</section>
