---
// [Components]
import { Image } from 'astro:assets';
import SectionContainer from '../../components/global/SectionContainer.astro';
import PerformanceHeader from './components/PerformanceHeader.astro';
import PerformanceCardGroup from '../../components/cards/PerformanceCardGroup.astro';
import PerformanceMetric from './components/PerformanceMetric.astro';
import ButtonPrimaryCta from '../../components/ButtonPrimaryCta.astro';
---

<SectionContainer containerClass="gap-20 desktop:flex-row-reverse">
	<div
		class="top flex flex-col items-center gap-5 desktop:items-start desktop:justify-between w-full desktop:max-w-[40%] translate-y-[var(--text-topper)]"
	>
		<PerformanceMetric />
		<Image
			src="/src/assets/iws-stats.png"
			alt="laptop image"
			height={600}
			width={600}
			class="desktop:translate-y-[-25%]"
		/>
	</div>
	<div class="bottom flex flex-col w-full gap-5 tablet:gap-8 desktop:gap-12">
		<PerformanceHeader />
		<PerformanceCardGroup />
		<ButtonPrimaryCta />
	</div>
</SectionContainer>
