---
// [Astro]
import { Image } from 'astro:assets';

// [Components]
import SectionContainer from '../../components/global/SectionContainer.astro';
import WhatWeOfferHeader from './components/WhatWeOfferHeader.astro';
import OfferCardGroup from '../../components/cards/OfferCardGroup.astro';
import ButtonPrimaryCta from '../../components/ButtonPrimaryCta.astro';
---

<SectionContainer
	class="what-we-offer bg-offwhite"
	containerClass="gap-y-10"
>
	<div
		class="flex flex-col items-center desktop:flex-row-reverse desktop:gap-y-10"
	>
		<div>
			<Image
				src="/src/assets/website-development.webp"
				alt="Team working together to put together a website"
				width="500"
				height="400"
			/>
		</div>
		<WhatWeOfferHeader />
	</div>
	<div class="flex flex-col gap-4 desktop:gap-20">
		<OfferCardGroup />
		<ButtonPrimaryCta class="self-center" />
	</div>
</SectionContainer>

<script>
	import { animateComponents } from '../../scripts/animations';

	// Initialize the icon card animations
	document.addEventListener('DOMContentLoaded', () => {
		animateComponents.offerCardGroup();
	});
</script>
