@import 'tailwindcss';

/* ==================================
	FONT DEFINITIONS
================================== */
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
/* Dark Mode */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Theme Values */
@theme {
	/* Fonts */
	--font-primary: 'Roboto', sans-serif;
	--font-secondary: 'Poppins', sans-serif;

	/* Font Sizes */
	--text-display: clamp(1.75rem, 1.1786rem + 2.8571vw, 3.75rem); /* 28-60px */
	--text-topper: clamp(0.625rem, 0.4821rem + 0.7143vw, 1.125rem); /* 10-18px */
	--text-body: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem); /* 16-18px */
	--text-heading: clamp(1.5rem, 1.0714rem + 2.1429vw, 3rem); /* 24-48px */
	--text-button: clamp(0.875rem, 0.75rem + 0.1786vw, 1rem); /* 14-16px */

	/* Colors - Default (Light) */
	--color-light: #f7f7f7;
	--color-light-permanent: #f7f7f7;
	--color-contrast: #181818;
	--color-contrast-permanent: #181818;
	--color-branded-blue: #19264a;
	--color-primary-blue: #3a86ff;
	--color-secondary-blue: #232ed1;
	--color-primary-orange: #f77f00;
	/* Containers */
	/* --container-content-sm: 300px; */ /* --container-content-md: 650px; */
	/* --container-content-lg: 1100px; */
	--container-content-max: 1440px;

	/* Breakpoints */
	--breakpoint-sm: 320px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1200px;
	--breakpoint-xl: 1440px;

	/* Spacing */

	/* Animations */
}

@layer theme {
	/* Colors - Dark Mode */
	.dark {
		--color-contrast: #f7f7f7;
		--color-light: #181818;
	}
}

@layer base {
	/* Reset */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* Typography */
	html {
		font-size: 16px;
		font-family: var(--font-primary);
	}

	body {
		font-size: 1rem;
		line-height: 1.5;
	}

	body * {
		@apply transition-colors ease-in-out duration-300;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	button,
	.nav-item {
		font-family: var(--font-secondary);
		letter-spacing: -0.03em;
	}

	p,
	span,
	a,
	button {
		font-family: var(--font-primary);
	}

	p,
	span,
	a,
	input,
	label {
		font-size: var(--text-body);
	}
}
