@import 'tailwindcss';

/* ==================================
	FONT DEFINITIONS
================================== */
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
/* Dark Mode */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Theme Values */
@theme {
	/* Fonts */
	--font-primary: 'Roboto', sans-serif;
	--font-secondary: 'Poppins', sans-serif;

	/* Font Sizes */
	--text-display: clamp(1.75rem, 1.1786rem + 2.8571vw, 3.75rem); /* 28-60px */
	--text-topper: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem); /* 14-20px */
	--text-body: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem); /* 16-18px */
	--text-heading: clamp(1.5rem, 1.0714rem + 2.1429vw, 3rem); /* 24-48px */
	--text-button: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem); /* 14-16px */
	--text-sm: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem); /* 14-16px */
	--text-subpage-heading: clamp(2rem, 1.4286rem + 2.8571vw, 4rem); /* 32-64px */

	/* Colors - Default (Light) */
	--color-light: #f7f7f7;
	--color-light-permanent: #f7f7f7;
	--color-contrast: #181818;
	--color-contrast-permanent: #181818;
	--color-branded-blue: #19264a;
	--color-primary-blue: #3a86ff;
	--color-secondary-blue: #232ed1;
	--color-primary-red: #e53825;
	--color-primary-orange: #f77f00;
	--color-offWhite: #fafafa;

	/* Breakpoints & Containers 
	- between 320px and 767px: mobile, max-content-width: 767px
	- between 768px and 1099px: tablet, max-content-width: 767px
	- above 1100px: desktop, max-content-width: 1200px
	*/
	/* Breakpoints */
	--breakpoint-sm: 500px;
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 1110px;

	/* Containers */
	--container-contain-max: 768px;
	--container-content-max: 1200px;

	/* Global Padding */
	--spacing-padding-x: clamp(0.75rem, 0.3929rem + 1.7857vw, 2rem);
	--spacing-padding-y: clamp(2.5rem, 1.7857rem + 3.5714vw, 5rem);
	--spacing-padding-top-footer: clamp(2rem, 1.1429rem + 4.2857vw, 5rem);

	/* Shadows */
	--drop-shadow-orange: 0px 3px 50px rgba(96.86%, 49.8%, 0%, 25%);
}

@layer theme {
	/* Colors - Dark Mode */
	.dark {
		--color-contrast: #f7f7f7;
		--color-light: #181818;
	}
}

@layer base {
	/* Reset */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* Typography */
	html {
		font-size: 16px;
		font-family: var(--font-primary);
		height: 100%;
		min-height: fit-content;
	}

	body {
		font-size: 1rem;
		line-height: 1.5;
		height: 100%;
		min-height: fit-content;
	}

	body * {
		@apply transition-colors duration-300 ease-in-out;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	button,
	.nav-item {
		font-family: var(--font-secondary);
		letter-spacing: -0.03em;
	}

	p,
	a,
	button {
		font-family: var(--font-primary);
	}

	p,
	a,
	input,
	label,
	textarea {
		font-size: var(--text-body);
	}

	a {
		cursor: pointer;
	}

	p {
		color: var(--color-contrast-permanent);
		opacity: 80%;
	}

	/* Fixes delayed SVG color transition in Chrome when using group-hover  
	Chrome defers fill/color changes on inline SVGs if the parent has a transition.  
   	Disabling transitions on SVGs ensures immediate color updates across all browsers. */
	svg {
		transition: none;
	}
}
