---

---

<div class='flex flex-col w-full gap-0.5'>
	<h2
		class='text-topper uppercase font-secondary tracking-widest font-bold text-contrast-permanent/70'
	>
		performance
	</h2>
	<div
		class='wrapper w-full flex flex-wrap justify-between gap-5 md:max-w-[85%] lg:gap-8'
	>
		<h3 class='text-heading uppercase font-secondary font-bold leading-none'>
			Faster Websites, happier clients
		</h3>
		<p class='text-contrast-permanent/80'>
			A slow website costs you leads, sales, and search rankings. Get a
			high-performance websites that load in a flash, rank higher on Google, and
			convert more visitors into customers. Test your current website with
			<a
				href='https://pagespeed.web.dev/'
				class='text-primary-blue hover:text-branded-blue'
				>Google PageSpeed Insights.</a
			>
		</p>
	</div>
</div>
