---

---

<div class="flex flex-col w-full gap-0.5 desktop:max-w-[60%]">
	<h2
		class="text-topper uppercase font-secondary tracking-widest font-bold text-contrast-permanent/70"
	>
		what we offer
	</h2>
	<div
		class="wrapper w-full flex flex-wrap justify-between gap-5 tablet:max-w-[85%] desktop:gap-8"
	>
		<h3 class="text-heading uppercase font-secondary font-bold leading-none">
			websites starting at <span class="text-secondary-blue">$0 down</span> and <span
				class="text-secondary-blue">$175 per month</span
			>
		</h3>
		<p class="text-contrast-permament">
			We offer $0 down for a standard 5 page small business website. If you need
			more than that then we have to do custom pricing based on the scope of
			work, number of additional pages, and time involved. 12 month minimum
			contract. Includes design, development, hosting, unlimited edits, 24/7
			support, and lifetime updates.
		</p>
	</div>
</div>
