---
// [Component]
import IconCard from './IconCard.astro';

// [Data]
import whatWeDo from '../../_data/whatWeDo';
---

<div class='flex flex-wrap gap-y-6 gap-x-4 md:gap-x-6'>
	{
		whatWeDo.map((card) => (
			<IconCard
				icon={card.icon}
				title={card.title}
				description={card.description}
				ctaText='learn more'
				ctaLink='/services'
			/>
		))
	}
</div>

<style></style>
