---
// [Component]
import IconCard from './IconCard.astro';

// [Data]
import whatWeDo from '../../_data/whatWeDo';
---

<div class='flex flex-wrap gap-y-4 gap-x-3'>
	{
		whatWeDo.map((card) => (
			<IconCard
				title={card.title}
				description={card.description}
				ctaText='learn more'
			/>
		))
	}
</div>

<style></style>
