---
// [Component]
import IconCard from './IconCard.astro';

// [Data]
import whatWeDo from '../../_data/whatWeDo';
---

<div class="icon-card-container flex flex-wrap gap-y-6 gap-x-4 tablet:gap-x-6">
	{
		whatWeDo.map((card) => (
			<IconCard
				icon={card.icon}
				title={card.title}
				description={card.description}
				ctaText="learn more"
				ctaLink="/services"
			/>
		))
	}
</div>
