---
// [Component]
import IndustryCard from './IndustryCard.astro';

// [Data]
import whoItsFor from '../../_data/customerIndustries';

// 9 different colors for the background of the cards
const backgrounds = [
	'bg-blue-100 hover:bg-blue-900',
	'bg-red-100 hover:bg-red-900',
	'bg-green-100 hover:bg-green-900',
	'bg-purple-100 hover:bg-purple-900',
	'bg-emerald-100 hover:bg-emerald-900',
	'bg-rose-100 hover:bg-rose-900',
	'bg-indigo-100 hover:bg-indigo-900',
	'bg-fuchsia-100 hover:bg-fuchsia-900',
	'bg-orange-100 hover:bg-orange-900',
];
---

<div class='flex flex-wrap gap-y-6 gap-x-4 md:gap-x-6'>
	{
		whoItsFor.map((card, index) => (
			<IndustryCard
				icon={card.icon}
				title={card.industry}
				description={card.description}
				className=`${backgrounds[index]}`
			/>
		))
	}
</div>

<style></style>
