---
// [Components]
import ButtonPrimaryCta from '../ButtonPrimaryCta.astro';
let IconComponent: any;
try {
	IconComponent = await import(`../../assets/icons/check.astro`).then(
		(module) => module.default
	);
} catch (e) {
	console.error(`Failed to load icon: check`);
}

// [Props]
const { plan, basePrice, secondaryPrice, offers } = Astro.props;

const specialPackage = plan === 'Monthly';

const { highlightedCard, highlightedButton, regularCard, regularButton } = {
	highlightedCard: 'bg-branded-blue text-light-permanent',
	highlightedButton: 'bg-primary-orange text-light-permanent alt',
	regularCard: 'bg-light-permanent text-contrast-permanent',
	regularButton: '!bg-branded-blue text-light-permanent',
};
---

<!-- PricingCard -->
<div
	class=`card w-full sm:max-w-[calc(50%-1rem)] desktop:max-w-[calc((1200px/3)-1.5rem)] flex-grow-0 flex-shrink-0 sm:even:last:mx-auto sm:odd:last:mx-auto desktop:odd:last:mx-0 desktop:last:mx-0 rounded-lg shadow-md p-6 flex flex-col h-full content-stretch max-w-[380px] gap-6 ${specialPackage ? highlightedCard : regularCard}`
>
	<h3 class="uppercase font-extrabold text-3xl">{plan}</h3>
	<ul class="flex flex-col gap-2 flex-grow">
		{
			offers.map((offer: any) => {
				const [key, value] = Object.entries(offer)[0];
				return (
					<li class="flex justify-between items-center gap-2">
						<span class="capitalize text-sm">{key}</span>
						{value === true ? (
							<span class="text-primary-orange h-5 w-5">
								{IconComponent && (
									<IconComponent
										width="100%"
										height="100%"
									/>
								)}
							</span>
						) : (
							<span class="text-contrast-permanent/20 h-5 w-5">
								{IconComponent && (
									<IconComponent
										width="100%"
										height="100%"
									/>
								)}
							</span>
						)}
					</li>
				);
			})
		}
	</ul>
	<div class="font-bold text-4xl my-2 tracking-tight">
		{basePrice}
		<span class="text-xs desktop:text-sm">{secondaryPrice}</span>
	</div>
	<ButtonPrimaryCta
		ctaText="Learn More"
		class=`!w-fit !px-8 !py-3 tablet:!min-w-fit ${specialPackage ? highlightedButton : regularButton}`
		ctaLink="/pricing"
	/>
</div>
