---
// [Data]
import Pricing from '@data/pricing';

// [Components]
import PricingCard from './PricingCard.astro';
---

<div
	class="pricing-card-container flex flex-wrap justify-center gap-y-6 gap-x-4 tablet:gap-x-6"
>
	{
		Pricing.map((option, index) => (
			<PricingCard
				plan={option.plan}
				basePrice={option.basePrice}
				secondaryPrice={option.secondaryPrice}
				offers={option.offers}
			/>
		))
	}
</div>
