---
import FAQsAccordian from './FAQsAccordian.astro';

const { title, faqs } = Astro.props;
---

<div class="container max-w-3xl mx-auto">
	<h3 class="text-xl font-bold mb-4">{title}</h3>
	<div class="space-y-2">
		{
			faqs.map((faq) => (
				<FAQsAccordian
					question={faq.question}
					answer={faq.answer}
				/>
			))
		}
	</div>
</div>
