---
import SectionHeader from '../SectionHeader.astro';
---

<section>
	<div class='wrapper'>
		<SectionHeader
			topper='Our Process'
			heading="We'll take care of everything"
			description="After a contract is signed we send a small questionnaire about your business and what you offer, then we expand on that content and write the entire site's content for you, create the design, get approval, then we build. Generally this takes 4-6 weeks from start to finish."
			cta='Get Started'
			ctaLink='/contact'
		/>
	</div>
</section>
