---
import Layout from 'src/layouts/Layout.astro';
import SubPageHeader from '@/components/SubPageHeader.astro';
import SectionHeader from '@/components/SectionHeader.astro';
import PageBanner from '@/components/PageBanner.astro';
import { client } from '../_data/client.js';

const title = 'Contact | Impact Web Studio';
const description = 'Meta description for the page';

const email = client.email || null;
const phone = client.phone || null;
---

<Layout
	title={title}
	description={description}
>
	<link
		rel='stylesheet'
		href='/styles/css/contact.css'
		slot='head'
	/>

	<PageBanner pageTitle='Contact Us' />
	<section
		id='iws-contact'
		class='subpage'
	>
		<div class='iws-container wrapper'>
			<form
				id='iws-form'
				name='Contact Form'
				method='post'
				data-netlify='true'
			>
				<div class='input-container'>
					<label>
						Name*
						<input
							required
							type='text'
							id='name'
							name='name'
							placeholder='Name'
						/>
					</label>
					<label>
						Email*
						<input
							required
							type='text'
							id='email'
							name='email'
							placeholder='Email'
						/>
					</label>
					<label>
						Phone
						<input
							type='text'
							id='phone'
							name='phone'
							placeholder='Phone'
						/>
					</label>
					<label>
						How Did You Find Us
						<input
							type='text'
							id='find'
							name='find-us'
							placeholder='How did you find us?'
						/>
					</label>
					<label class='iws-label-message'>
						Message*
						<textarea
							required
							name='Message'
							id='message'
							placeholder='Write message...'
						></textarea>
					</label>
				</div>
				<button
					class='iws-button-solid'
					type='submit'
				>
					Submit Message
				</button>
			</form>
			<div class='iws-right-section'>
				<!--Email-->
				<span class='iws-header'>Email</span>
				<a
					class='iws-link'
					href='mailto:{ client.email }'
					>{email}</a
				>
				<!--Phone-->
				{
					phone && (
						<>
							<span class='iws-header'>Phone</span>
							<a
								class='iws-link'
								href='tel:{ phone }'
							>
								{phone}
							</a>
						</>
					)
				}

				<!-- Background Image-->
				<picture class='iws-bg-picture'>
					<source
						media='(min-width: 601px)'
						srcset='/assets//images/toronto-skyline.jpg'
					/>
					<img
						aria-hidden='true'
						decoding='async'
						src='/assets//images/toronto-skyline.jpg'
						alt='building'
						loading='lazy'
						width='2500'
						height='1667'
					/>
				</picture>
			</div>
		</div>
	</section>
</Layout>

<style>
	section {
		padding-top: 1rem;
	}
	.iws-container {
		margin: auto;
		/* changes to 1280px at desktop */
		max-width: 50rem;
		width: 100%;
	}

	#iws-form {
		margin-bottom: 2.5rem;
		width: 100%;
	}

	.input-container {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(19.0625rem, 1fr));
	}

	/* Ensure the last input (textarea) always takes full width */
	.input-container label:last-of-type {
		grid-column: 1 / -1;
	}

	#iws-form label {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		/* 12px - 20px */
		margin-bottom: clamp(0.75rem, 1.3em, 1.25rem);
		font-size: 1rem;
		line-height: 1.5em;
		font-weight: 700;
		color: var(--headerColor);
	}
	#iws-form .iws-label-message {
		/* 32px - 48px */
		margin-bottom: clamp(2rem, 6.3vw, 3rem);
	}
	#iws-form input,
	#iws-form textarea {
		border: 1px solid #b4b2c7;
		border-radius: 0.5rem;
		margin-top: 0.25rem;
		height: 4rem;
		width: 100%;
		/* prevents border & padding from affecting height */
		box-sizing: border-box;
		padding-left: 1.25rem;
		font-size: 1rem;
		transition: border 0.3s;
	}
	#iws-form input:hover,
	#iws-form textarea:hover {
		border: 1px solid var(--primary);
	}
	#iws-form textarea {
		min-height: 7.5rem;
		padding-top: 1.25rem;
		font-family: inherit;
	}
	#iws-form .iws-button-solid {
		border: none;
		width: 100%;
	}
	.iws-right-section {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		border-radius: 0.5rem;
		height: 20rem;
		/* cuts off corners on img tag */
		overflow: hidden;
		/* 24px - 40px top & bottom */
		/* 20px - 40px left & right */
		padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
		transform: translateY(1.5rem);
	}
	.iws-header {
		display: block;
		margin-bottom: 0.5rem;
		/* 16px - 20px */
		font-size: clamp(1rem, 3vw, 1.25rem);
		line-height: 1.2em;
		font-weight: 700;
		color: var(--bodyTextColorWhite);
	}
	.iws-link {
		position: relative;
		display: block;
		margin-bottom: 1.25rem;
		text-decoration: none;
		/* 16px - 20px */
		font-size: clamp(1rem, 3vw, 1.25rem);
		line-height: 1.2em;
		color: var(--bodyTextColorWhite);
	}
	.iws-link:before {
		position: absolute;
		bottom: -0.125rem;
		left: 0;
		/* Animated underline */
		content: '';
		opacity: 1;
		display: block;
		/* current color of the parent */
		background: currentColor;
		height: 2px;
		width: 0%;
		transition: width 0.3s;
	}
	.iws-link:hover:before {
		width: 100%;
	}
	.iws-link:last-of-type {
		margin-bottom: 0;
	}
	.iws-block {
		/* sends second address line to the bottom on its own line */
		display: block;
	}
	.iws-bg-picture {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
		transition: transform 0.6s;
	}
	.iws-bg-picture img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		/* Makes img tag act as a background image */
		object-fit: cover;
	}
	.iws-bg-picture:before {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		/* background color overlay */
		content: '';
		display: block;
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.8) 100%
		);
		height: 100%;
		width: 100%;
	}

	/* Tablet - 700px */
	@media only screen and (width >= 40 rem) {
		#iws-form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
		}
		#iws-form label {
			width: 48%;
		}
		#iws-form .iws-label-message {
			width: 100%;
		}
	}
	/* Small Desktop - 1100px */
	@media only screen and (width >= 64rem) {
		.iws-container {
			display: flex;
			align-items: flex-start;
			max-width: 80rem;
			gap: 5rem;
		}
		#iws-form {
			max-width: 50%;
		}
		#iws-form label {
			width: 100%;
		}
		.iws-right-section {
			/* changes to 578px at 1300px wide */
			height: 42.875rem;
			max-width: 33.875rem;
			width: 40%;
			/* prevents flexbox from squishing it */
			flex: none;
		}
		.iws-right-section:hover .iws-bg-picture {
			transform: scale(1.1);
		}
		.iws-block {
			/* goes back to inline so it stays "in line" with the rest of the text */
			display: inline-block;
		}
	}
	/* Small Desktop - 1300px */
	@media only screen and (min-width: 80rem) {
		#iws-form {
			column-gap: 0rem;
		}
		#iws-form .iws-label-message {
			max-width: 100%;
		}
		.iws-right-section {
			height: 36.125rem;
		}
	}
</style>
