---
import Layout from '../layouts/Layout.astro';
---

<!-- Demo of all components and design elements -->
<Layout>
	<section class='container'>
		<div class='component-wrapper'></div>
		<div class='component-wrapper'></div>
	</section>
</Layout>

<style></style>
