---
import '../../../public/styles/css/home/hero.css';
---

<section id='hero'>
	<div class='iws-container'>
		<div class='iws-flex-group'>
			<span class='iws-topper'>mountain hiking society</span>
			<h1 class='iws-title'>Explore the World with Exciting People</h1>
			<p class='iws-text'>
				Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius.
				Nibh tortor id aliquet lectus proin nibh condimentum.
			</p>
			<a
				href='/about'
				class='iws-button-solid'
				>Explore More</a
			>
			<a
				href='/contact'
				class='iws-button-transparent'
			>
				<img
					class='iws-img'
					loading='lazy'
					decoding='async'
					src='https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg'
					alt='play icon'
					width='17'
					height='17'
				/>
				Get in Touch
			</a>
		</div>
	</div>
</section>
