---
import SectionHeader from '../SectionHeader.astro';
---

<section id='services'>
	<SectionHeader
		topper='what we do'
		heading='set it and forget it'
		description='We offer a variety of services to help your business grow. From website design to SEO, we have you covered.'
	/>
</section>
