---
import { CtaLink } from '@data/navigation';

const {
	ctaText = 'get started',
	class: className = '',
	ctaLink = CtaLink.url,
} = Astro.props;
---

<a
	class=`button py-2 px-6 tablet:py-4 tablet:px-8 desktop:px-10 bg-primary-blue text-center rounded-full min-w-fit z-10 relative overflow-hidden w-fit tablet:min-w-[240px] text-white uppercase font-bold whitespace-nowrap text-button ${className}`
	href={ctaLink}
>
	{ctaText}
</a>

<script>
	import { hover } from 'motion';

	hover('.button', (element) => {
		element.classList.add('hover');

		return () => element.classList.remove('hover');
	});
</script>

<style>
	.button::before {
		content: '';
		position: absolute;
		background-color: var(--color-primary-orange);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		transition: transform 0.5s;
		z-index: -1; /* Ensures the background is behind the text */
	}

	.button.alt::before {
		background-color: var(--color-primary-blue);
	}

	.button.hover::before {
		transform: translateX(0);
	}
</style>
