---
import SectionHeader from "./SectionHeader.astro"
---

<section id='cta' class="container">
	<div class='iws-container wrapper'>
		<div class='iws-content'>
			<span class='iws-topper'>Get Started</span>
			<h2 class='iws-title'>ready to build your ideal site?</h2>
		</div>
		<a
		href='/contact'
		class='iws-button-solid'
		>Schedule a call</a
	>
	</div>
</section>

<style>
	section{
		color: var(--dark-one);
		/* background-image: url(/assets/svgs/layered-waves-3.svg); */
		/* background-size: cover;
		background-position: center;
		background-repeat: no-repeat; */
		overflow: hidden;
	}
	.iws-container,
	.iws-content {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items:center;
	}
	.iws-container{
		width: fit-content;
		padding: clamp(3rem, 9vw, 6.25rem) clamp(2rem, 7vw, 6.25rem);
		border-radius: 1rem;
		gap: 1.25rem;
		background-color: var(--primary-blue);
		margin: 5rem auto;
		position: relative;
	}

	/* .iws-container::after{
		content: '';
		position: absolute;
		width: 60%;
        height: clamp(5rem, 10vw, 15rem);
		display: block;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -2;
        border-left: 1.25rem solid var(--primary-blue);
        border-right: 1.25rem solid var(--primary-blue);
	} */


	.iws-content{
		gap: 0.5rem;
	}
	span {
		font-size: calc(var(--topperFontSize)*1.2);
		color: var(--light-two);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: 'Poppins', sans-serif;
	}

	h2 {
		text-transform: uppercase;
		font-size: var(--headerFontSize);
		line-height: 1em;
		color: var(--light-one);
	}

	.iws-button-solid{
		border-radius: 100px;
		background: var(--accent-yellow-light-mode);
		color: var(--dark-one);
	}

	.iws-button-solid::before{
		border-radius: 100px;
		background: var(--light-one);
	}

	.iws-button-solid:hover{
		color: var(--dark-one);
	}

</style>