---
import SectionHeader from "./SectionHeader.astro"
---

<section id='cta'>
		<div class='iws-container wrapper'>
			<div class='iws-content'>
				<span class='iws-topper'>Get Started</span>
				<h2 class='iws-title'>ready to build your ideal site?</h2>
			</div>
			<a
			href='/contact'
			class='iws-button-solid'
			>Schedule a call</a
		>
		</div>
</section>

<style>
	section{
		color: var(--light-one);
	}
	.iws-container,
	.iws-content {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items:center;
		background-color: var(--primary-blue);
	}
	.iws-container{
		padding: 3rem 2rem;
		border-radius: 1rem;
		gap: 1.25rem;
	}
	.iws-content{
		gap: 0.5rem;
	}
	span {
		font-size: 0.875rem;
		color: var(--light-two);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	h2 {
		text-transform: uppercase;
		font-size: 1.75rem;
		line-height: 2rem;
		color: var(--light-one);
	}

	.iws-button-solid{
		border-radius: 100px;
		background: var(--light-one);
	}

	.iws-button-solid::before{
		border-radius: 100px;
		background: var(--accent-yellow-light-mode);
	}

	.iws-button-solid:hover{
		color: var(--dark-one);
	}
</style>
