---
import SectionHeader from "./SectionHeader.astro"
---

<section id='cta' class="container">
	<div class='iws-container wrapper'>
		<div class='iws-content'>
			<span class='iws-topper'>Get Started</span>
			<h2 class='iws-title'>ready to build your ideal site?</h2>
		</div>
		<a
		href='/contact'
		class='iws-button-solid'
		>Schedule a call</a
	>
	</div>
</section>

<style>
	section{
		color: var(--dark-one);
		background-image: url(/assets/svgs/layered-waves-3.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.iws-container,
	.iws-content {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items:center;
	}
	.iws-container{
		padding: 3rem 2rem;
		border-radius: 1rem;
		gap: 1.25rem;
	}
	.iws-content{
		gap: 0.5rem;
	}
	span {
		font-size: calc(var(--topperFontSize)*1.2);
		color: var(--dark-two);
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-family: 'Poppins', sans-serif;
	}

	h2 {
		text-transform: uppercase;
		font-size: calc(var(--headerFontSize)*0.5);
		line-height: 1em;
		color: var(--dark-one);
	}

	.iws-button-solid{
		border-radius: 100px;
		background: var(--primary-green);
		color: var(--light-one);
	}

	.iws-button-solid::before{
		border-radius: 100px;
		background: var(--light-one);
	}

	.iws-button-solid:hover{
		color: var(--dark-one);
	}

</style>