---
import SectionHeader from './SectionHeader.astro'
import PerformanceMetric from './PerformanceMetric.astro'

const hourglass = '/assets/svgs/hourglass.svg'
const timer = '/assets/svgs/timer.svg'
const timeCheck = '/assets/svgs/timecheck.svg'
---
<section id="performance">
    <div class="iws-container">
        <div class="iws-content">
            <SectionHeader topper="performance" heading="better websites, better results" description=" When it comes to website load times, not very many can get the Google PageSpeed scores that we get with each and every site. Test your website load times with Google PageSpeed Insights and see what your current site is scoring right now."/>
            <ul class="iws-ul">
                <li class="iws-li">
                    <img class="iws-icon" aria-hidden="true" src={timeCheck} loading="lazy" decoding="async" alt="icon" width="24" height="24">
                    Better load times means more traffic and more site conversions over time.
                </li>
                <li class="iws-li">
                    <img class="iws-icon" aria-hidden="true" src={timer} loading="lazy" decoding="async" alt="icon" width="24" height="24">
                    Faster websites can help improve SEO and your Google ads performance.
                </li>
                <li class="iws-li">
                    <img class="iws-icon" aria-hidden="true" src={hourglass} loading="lazy" decoding="async" alt="icon" width="24" height="24">
                    Our sites load instantly in under 1 second or less, which leads to a better user experience and conversions.
                </li>
            </ul>
            <a href="" class="iws-button-solid">More About Us</a>
        </div>
        <!--Image Group-->
        <div class="iws-image-group">
            <ul class="iws-stat-group">
                <PerformanceMetric metric="100%" title="Satisfaction Guaranteed"/>
                <PerformanceMetric metric="90+" title="PageSpeed Score"/>
                <PerformanceMetric metric="< 1s" title="Load Times"/>
                <PerformanceMetric metric="99.9%" title="Uptime Guarantee"/>
            </ul>
            <!--Picture-->
            <picture class="iws-picture">
                <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/iws-stats.png" alt="performance">
            </picture>
        </div>
    </div>
</section>
                                

<style>
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #performance {
        padding: var(--sectionPadding);
    }
    #performance .iws-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 60px */
        gap: clamp(3rem, 10vw, 3.75rem);
    }
    #performance .iws-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    .iws-title{
        text-transform: uppercase;
    }
    #performance .iws-text {
        margin-bottom: 1rem;
    }
    #performance .iws-text:last-of-type {
        margin-bottom: 2rem;
    }
    #performance .iws-ul {
        width: 80%;
        /* 32px - 36px */
        margin: 0 0 clamp(2rem, 4vw, 2.25rem) 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* 24px - 32px */
        row-gap: clamp(1.5rem, 4vw, 2rem);
    }
    #performance .iws-li {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        list-style: none;
        line-height: 1.5em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }
    #performance .iws-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #performance .iws-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #performance .iws-button-solid:hover:before {
        width: 100%;
    }
    #performance .iws-image-group {
        width: 100%;
        max-width: 39.375rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        order: -1;
    }
    #performance .iws-stat-group {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        row-gap: 3rem;
    }
    #performance .iws-stat {
        list-style: none;
        max-width: 14.375rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    #performance .iws-number {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 5vw, 3.8125rem);
        line-height: 1.2em;
        font-weight: 900;
        color: var(--headerColor);
    }
    #performance .iws-desc {
        font-size: clamp(0.875rem, 1rem, 1.25rem);
        line-height: 1.5em;
        font-weight: 400;
        margin: 0;
        color: var(--bodyTextColor);
    }
    #performance .iws-picture {
        width: 100%;
        height: 400px;
        display: block;
        position: relative;
        /* background: var(--off-white-bg); */
        border-radius: 2rem;
        padding: 1rem;
    }
    #performance .iws-picture img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #performance .iws-container {
        max-width: 80rem;
        flex-direction: row;
        align-items: flex-start;
    }
    #performance .iws-content {
        width: 71%;
        max-width: 33.75rem;
    }
    #performance .iws-image-group {
        width: 68%;
    }
    #performance .iws-stat-group {
        justify-content: flex-start;
    }
    #performance .iws-picture {
        /* 340px - 461px */
        height: clamp(21.25rem, 35vw, 28.8125rem);
    }
}
</style>