---
const {metric, title} = Astro.props;
---
<li class="iws-stat">
    <p class="metric">{metric}</p>
    <p class="title">{title}</p>
</li>

<style>
li{
    list-style: none;
    width: 40%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

p{
    line-height: 1em;
    font-family: 'Poppins', 'Arial', sans-serif;
    width: fit-content;

}

.metric{
    font-size: 2.25rem;
    letter-spacing: -0.03em;
    font-weight: bold;
    color: var(--primary-blue);

}

.title{
    font-size: 1rem;
}


@media screen and (width >= 40rem){
    li {
        width: calc(25% - 1rem);
    }

}
</style>