---
import SectionHeader from './SectionHeader.astro';
import PricingCard from './PricingCard.astro';

const lumpSumBenefits = [
	{
		title: 'Design And Development',
		included: true,
	},
	{
		title: 'Website Hosting ($25/mo)',
		included: true,
	},
	{
		title: '5 Page Setup (+$100/page after 5)',
		included: true,
	},
	{
		title: '[Optional] Unlimited Edits Add-on (+$50/mo)',
		included: true,
	},
	{
		title: '[Optional] Blog Add-on (+$250)',
		included: true,
	},
	{
		title: '24/7 Support',
		included: false,
	},
	{
		title: 'Lifetime Updates',
		included: false,
	},
];

const monthlyBenefits = [
	{
		title: 'Design And Development',
		included: true,
	},
	{
		title: 'Includes Website Hosting',
		included: true,
	},
	{
		title: '5 Page Setup (+$100/page after 5)',
		included: true,
	},
	{
		title: 'Unlimited Edits',
		included: true,
	},
	{
		title: '[Optional] Blog Add-on (+$250)',
		included: true,
	},
	{
		title: '24/7 Support',
		included: true,
	},
	{
		title: 'Lifetime Updates',
		included: true,
	},
];

const ecommerceBenefits = [
	{
		title: 'Custom Shopify Store',
		included: true,
	},
	{
		title: 'Unlimited App Configuration',
		included: true,
	},
	{
		title: 'Shipping Integration',
		included: true,
	},
	{
		title: 'Shopify Tutorial Walkthrough',
		included: true,
	},
	{
		title: 'Fully Editable In Shopify CMS',
		included: true,
	},
	{
		title: '24/7 support',
		included: false,
	},
	{
		title: 'lifetime updates',
		included: false,
	},
];
---

<section id='pricing' class='container'>
    <div class="iws-container wrapper">
        <SectionHeader
        topper='our pricing'
        heading='flexible package options'
        description='We offer flexible package options to help with all budget, including optional add-ons for additional needs.'
        />
            <ul class="iws-card-group pricing-container">
                <PricingCard
                    title='Lump Sum'
                    primaryPrice='$3500'
                    secondaryPrice='+ $25/mo hosting'
                    type=''
                    benefitList={lumpSumBenefits}
                />
                <PricingCard
                    title='Monthly'
                    primaryPrice='$199'
                    secondaryPrice='/mo'
                    type='popular'
                    benefitList={monthlyBenefits}
                />
                <PricingCard
                    title='Ecommerce'
                    primaryPrice='$8000'
                    secondaryPrice='starting price'
                    type=''
                    benefitList={ecommerceBenefits}
                />
            </ul>
        </section>
    </div>
<style>
/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

.pricing-container {
    display: grid;
  grid-template-columns: 1fr; /* Default: stacked */
  gap: 1.5rem;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
}

@media screen and (width >= 40rem) {
    .pricing-container {
    grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 68.75rem) {
  .pricing-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.iws-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* 16px - 20px */
    gap: clamp(1rem, 1.8vw, 1.25rem);
    /* position: relative; */
    z-index: 10;
}
                                
</style>