---
const { topper, heading, description } = Astro.props;
---

<div class={description ? 'iws-container align-left' : 'iws-container'}>
	<div class='iws-content'>
		{topper && <span class='iws-topper'>{topper}</span>}
		<h2 class='iws-header'>{heading}</h2>
	</div>
	{description && <p class='iws-text'>{description}</p>}
</div>

<style>
	.iws-container{
		margin-bottom: clamp(3rem, 2.4286rem + 2.8571vw, 5rem);
	}

	.iws-container,
	.iws-content {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items:center;
	}

	.sbs{
		flex-direction: row;
		justify-content: space-between;
	}

	span {
		font-size: var(--topperFontSize);
		color: var(--dark-three);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}

	h2 {
		text-transform: uppercase;
		font-size: var(--headerFontSize);
	}

	p {
		font-size: var(--bodyFontSize);
		color: var(--dark-two);
	}
	/* Tablet */
@media only screen and (width >= 40rem){

	.iws-text{
		max-width: 85%;
	}
}

	/* Desktop */
	@media screen and (min-width: 1000px) {
	}
</style>
