---
const { pageTitle, pageHeader, pageDescription } = Astro.props;
---

<section class='container top'>
	<div class='wrapper'>
		{pageTitle && <h1 class='iws-topper'>{pageTitle}</h1>}
		<div class='sbs'>
			{pageHeader && <h2 class='iws-title'>{pageHeader}</h2>}
			{pageDescription && <p class='iws-text'>{pageDescription}</p>}
		</div>
	</div>
</section>

<style>
	section {
		padding: var();
	}

	.wrapper {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.sbs {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h1 {
		font-size: var(--topperFontSize);
		color: var(--dark-three);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
	h2 {
		text-transform: uppercase;
		font-size: calc(var(--headerFontSize) * 1.3);
		width: 50%;
	}
	p {
		text-align: left;
		font-size: var(--bodyFontSize);
		color: var(--dark-two);
		width: 45%;
	}
</style>
