---

---

<div class='flex flex-col gap-2'>
	<h4
		class='w-full capitalize text-2xl text-primary-orange font-secondary font-bold'
	>
		Small Business, Big Impact
	</h4>
	<p class='w-full text-light-permanent max-w-lg'>
		We believe small businesses deserve better. Just because you're small,
		doesn't mean your site needs to be.
	</p>
</div>
