---
import { Image } from 'astro:assets';
import impactLogo from '/src/assets/brand/iws-logo-white.svg';
---

<div class='footer-logo'>
	<a href='/'>
		<Image
			src={impactLogo}
			alt='Impact Web Studio Logo'
		/>
	</a>
</div>
