---
// [Components]
import FooterTop from './FooterTop.astro';
import FooterBottom from './FooterBottom.astro';
---

<footer
	class='w-full h-fit px-padding-x pt-padding-top-footer pb-2 bg-contrast-permanent'
>
	<div
		class='max-w-content-max flex flex-col items-center justify-between gap-20 mx-auto'
	>
		<FooterTop />
		<FooterBottom />
	</div>
</footer>
