---
// [Data]
import { navigationLinks } from '../../../_data/navigation';

// [Components]
import NavLinkItem from '../navLinkItem.astro';
---

<div class='flex flex-col gap-5 w-fit'>
	<h3 class='uppercase text-primary-orange text-2xl font-secondary font-bold'>
		quick links
	</h3>
	<ul class='grid grid-cols-1 gap-x-10 gap-y-3 md:grid-cols-2'>
		{
			navigationLinks.map((link) => (
				<NavLinkItem
					text={link.text}
					url={link.url}
					variant='mobile'
					className='text-light-permanent/80 !font-normal !capitalize'
				/>
			))
		}
	</ul>
</div>
