---
// [Data]
import { navigationLinks } from '../../../_data/navigation';

// [Components]
import NavLinkItem from '../navLinkItem.astro';
---

<div class="flex flex-col gap-5 w-fit">
	<h3
		class="uppercase text-primary-orange text-2xl font-secondary font-bold desktop:text-3xl"
	>
		quick links
	</h3>
	<ul
		class="grid grid-cols-2 gap-x-10 gap-y-3 tablet:gap-x-20 desktop:gap-x-16"
	>
		{
			navigationLinks.map((link) => (
				<NavLinkItem
					text={link.text}
					url={link.url}
					variant="mobile"
					className="text-light-permanent/80 !font-normal !capitalize"
				/>
			))
		}
	</ul>
</div>
