---

---

<p
	class='w-full capitalize text-2xl text-primary-orange font-secondary font-bold'
>
	Small Business, Big Impact
</p>
<p class='w-full text-light-permanent max-w-md'>
	We believe small businesses deserve better. Just because you're small, doesn't
	mean your site needs to be.
</p>
