---
// [Components]
import FooterLogo from './FooterLogo.astro';
import FooterDescription from './FooterDescription.astro';
import ButtonPrimaryCta from '../../ButtonPrimaryCta.astro';
---

<div class='flex flex-col gap-3 items-start'>
	<FooterLogo />
	<FooterDescription />
	<ButtonPrimaryCta className='mt-3' />
</div>
