---
// [Components]
import FooterBranding from './FooterBranding.astro';
import FooterLinks from './FooterLinks.astro';
import FooterContact from './FooterContact.astro';
---

<div class='w-full h-fit flex flex-col gap-10'>
	<FooterBranding />
	<div class='flex flex-wrap gap-x-20'>
		<FooterLinks />
		<FooterContact />
	</div>
</div>
