---
const legalLinks = [
	{
		href: '/privacy-policy',
		text: 'Privacy Policy',
	},
	{
		href: '/terms-of-service',
		text: 'Terms of Service',
	},
	{
		href: '/cookies',
		text: 'Cookie Policy',
	},
];
---

<nav
	class='w-fit'
	aria-label='Legal'
>
	<ul class='flex w-full justify-center items-center gap-2 sm:items-end'>
		{
			legalLinks.map((link) => (
				<li>
					<a
						href={link.href}
						class='text-light-permanent/50 text-xs whitespace-nowrap  md:text-sm'
					>
						{link.text}
					</a>
				</li>
			))
		}
	</ul>
</nav>
