---
const currentYear = new Date().getFullYear();
---

<div class='flex justify-center items-center sm:items-start'>
	<p class='text-light-permanent/50 w-fit text-xs md:text-sm'>
		Impact Web Studio © {currentYear}
	</p>
</div>
