---
// [Components]
import SectionContainer from '../../../components/global/SectionContainer.astro';
import PageHeader from './components/PageHeader.astro';
import PageBody from './components/PageBody.astro';
import KeyConsiderationGroup from './components/KeyConsiderationGroup.astro';
import ImageQuote from './components/ImageQuote.astro';
---

<SectionContainer>
	<div
		class='layout-container grid grid-cols-1 lg:grid-cols-2 gap-16 justify-between'
	>
		<div class='top h-full lg:order-2 lg:translate-y-[150px]'>
			<ImageQuote
				image='/src/assets/kenny.webp'
				class='object-contain max-h-[500px]'
			/>
		</div>
		<div class='bottom flex flex-col gap-10'>
			<PageHeader
				page='About Us'
				title='behind the scenes'
				class=''
			/>
			<PageBody />
			<KeyConsiderationGroup />
		</div>
	</div>
</SectionContainer>
