---
// [Components]
import SectionContainer from '../../../components/global/SectionContainer.astro';
import SectionHeaderImage from '../../../components/global/SectionHeaderImage.astro';
import PageHeader from './components/PageHeader.astro';
import PageBody from './components/PageBody.astro';
import KeyConsiderationGroup from './components/KeyConsiderationGroup.astro';
import ImageQuote from './components/ImageQuote.astro';
import ButtonPrimaryCta from '../../../components/ButtonPrimaryCta.astro';
---

<SectionContainer>
	<SectionHeaderImage>
		<div
			slot="top-right"
			class="h-full desktop:order-2 desktop:translate-y-[150px]"
		>
			<ImageQuote
				image="/src/assets/kenny.webp"
				class="object-contain max-h-[500px] desktop:max-h-[600px] rounded-2xl"
			/>
		</div>
		<div
			slot="bottom-left"
			class="flex flex-col gap-6 desktop:gap-10"
		>
			<PageHeader
				page="About Us"
				title="behind the scenes"
				class=""
			/>
			<PageBody />
			<KeyConsiderationGroup />
			<ButtonPrimaryCta />
		</div>
	</SectionHeaderImage>
</SectionContainer>
