---
const { page, title, class: className = '' } = Astro.props;
---

<div class=`flex flex-col gap-2 ${className}`>
	<h1
		class=`text-topper text-primary-orange uppercase font-bold tracking-widest`
	>
		{page}
	</h1>
	<h2 class="uppercase text-subpage-heading font-bold leading-none">
		{title}
	</h2>
</div>
