---
import ButtonPrimaryCta from '../ButtonPrimaryCta.astro';
import SectionContainer from './SectionContainer.astro';
---

<SectionContainer>
	<div
		class='bg-container relative bg-[url(/src/assets/toronto-overview.webp)] bg-cover bg-top bg-no-repeat flex flex-col items-center justify-center gap-8 p-20 rounded-3xl overflow-hidden lg:py-20'
	>
		<div class='text-wrapper z-10 flex flex-col items-center gap-0'>
			<span
				class='text-topper text-primary-orange uppercase font-semibold tracking-wide'
			>
				get started
			</span>
			<h3 class='uppercase font-bold text-light-permanent text-heading'>
				ready to build your ideal site?
			</h3>
		</div>
		<ButtonPrimaryCta class='z-10' />
	</div>
</SectionContainer>

<style>
	.bg-container::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 0;
	}
</style>
