---

---

<nav
	class='footer-legal'
	aria-label='Legal'
>
	<ul>
		<li><a href='/privacy-policy'>Privacy Policy</a></li>
		<li><a href='/terms-of-service'>Terms of Service</a></li>
		<li><a href='/cookies'>Cookie Policy</a></li>
	</ul>
</nav>
