---
// [Data]
import { navigationLinks } from '../../_data/navigation';

// [Components]
import ButtonPrimaryCta from '../ButtonPrimaryCta.astro';
import FooterMeta from './FooterMeta.astro';

// [Styles] - Footer: <footer>
const { footerSpacing, footerLayout, footerColors } = {
	footerSpacing: 'w-full h-fit',
	footerLayout: 'flex flex-col justify-center items-center',
	footerColors: 'bg-contrast-permanent',
};

// [Styles] - Footer Top: <div>
const {
	footerTop,
	footerBranding,
	footerNavLinks,
	footerContact,
	footerSignature,
} = {
	footerTop: 'w-full h-fit',
	footerBranding: 'flex flex-col gap-8 items-center',
	footerNavLinks: 'flex gap-8 items-center',
	footerContact: 'flex gap-8 items-center',
	footerSignature: 'text-light-permanent',
};
---

<footer class=`${footerSpacing} ${footerLayout} ${footerColors}`>
	<div class=`${footerTop}`>
		<div class='footer-branding'>
			<img
				src='/src/assets/brand/iws-logo-white.svg'
				alt='Impact Web Studio Logo'
			/>
			<div class='cta'><p></p><ButtonPrimaryCta /></div>
		</div>
		<nav
			class='footer-links'
			aria-label='Footer'
		>
			<ul>
				<li><a href='/about'>About</a></li>
				<li><a href='/services'>Services</a></li>
				<li><a href='/contact'>Contact</a></li>
				<li><a href='/blog'>Blog</a></li>
			</ul>
		</nav>
	</div>

	<div class='footer-bottom'>
		<FooterMeta />
	</div>
</footer>
