---
// [Styles] Logo: <a> and <img>
const { logoContainer, logoImg } = {
	logoContainer: 'w-24 h-12',
	logoImg: '',
};
---

<a
	class=`${logoContainer}`
	href='/'
>
	<img
		class=`${logoImg}`
		src='/src/assets/brand/iws-logo.svg'
		alt='Impact Web Studio Logo'
	/>
</a>
