---

---

<header class='bg-green-600'>
	<button class='primary-btn bg-branded-blue'>Dark Mode Toggle</button>
</header>

<script>
	// [Dark Mode] - Button Toggle
	const btn = document.querySelector('.primary-btn');
	btn?.addEventListener('click', () => {
		document.documentElement.classList.toggle('dark');
	});

	// [NavBar] - Scroll Animation
	import { scroll, animate } from 'motion';
	scroll((progress: any) => {
		if (progress >= 0.9) {
			animate(
				'header',
				{ transform: 'scaleX(80%) translateY(2rem)' },
				{ duration: 0.5, ease: 'easeOut' }
			);
		} else {
			animate(
				'header',
				{ transform: 'scaleX(100%) translateY(0px)' },
				{ duration: 0.5, ease: 'easeOut' }
			);
		}
	});
</script>

<style>
	header {
		position: sticky;
		top: 0;
		height: 150px;
	}
</style>
