<button
	class='md:hidden flex items-center'
	aria-label='Toggle mobile menu'
>
	<svg
		xmlns='http://www.w3.org/2000/svg'
		class='h-6 w-6'
		fill='none'
		viewBox='0 0 24 24'
		stroke='currentColor'
	>
		<path
			stroke-linecap='round'
			stroke-linejoin='round'
			stroke-width='2'
			d='M4 6h16M4 12h16M4 18h16'
		></path>
	</svg>
</button>

<script>
	const mobileMenuButton = document.querySelector('button');
	const mobileMenu = document.getElementById('mobile-menu');
	mobileMenuButton?.addEventListener('click', () => {
		mobileMenu?.classList.toggle('hidden');
	});
</script>
