---
// [Styles] Link Text Styles
const linkStyles = 'font-semibold uppercase text-body';
const { text, url, className = '' } = Astro.props;

// [Logic] Determine if link is active
const { pathname } = Astro.url;
const isActive = pathname === url;
---

<li>
	<a
		href={url}
		class={`nav-item ${linkStyles} ${
			isActive ? ' text-primary-orange' : ''
		} ${className}`}
	>
		{text}
	</a>
</li>
