---
// [Styles] Link Text Styles
const linkStyles = 'font-semibold uppercase text-base';
const { text, url, variation, className = '' } = Astro.props;

// [Styles] Mobile and Desktop Styles
const { mobileStyles, desktopStyles } = {
	mobileStyles: 'block py-2',
	desktopStyles: 'py-2',
};

// [Logic] Determine if link is active
const { pathname } = Astro.url;
const isActive = pathname === url;
---

<li>
	<a
		href={url}
		class={`nav-item ${linkStyles} ${
			isActive ? ' text-primary-orange' : ''
		} ${className}} ${variation === 'mobile' ? mobileStyles : desktopStyles}`}
	>
		{text}
	</a>
</li>
