---
// [Styles]
const linkStyles = 'font-semibold uppercase text-base';
const { text, url, active, variation, className = '' } = Astro.props;

const { mobileStyles, desktopStyles } = {
	mobileStyles: 'block py-2',
	desktopStyles: 'py-2',
};
---

<li>
	<a
		href={url}
		class={`nav-item ${linkStyles} ${
			active ? 'border-b-2 border-branded-blue' : ''
		} ${className}} ${variation === 'mobile' ? mobileStyles : desktopStyles}`}
	>
		{text}
	</a>
</li>
