---
// [Type]
interface Prop {
	class: string;
	containerClass: string;
	// containerType: ['contain', 'full', ''];
}

// [Props]
const {
	class: className,
	containerClass = '',
	// containerType = '',
} = Astro.props;

// [Logic]
// const containerTypeClass =
// 	containerType === 'contain'
// 		? 'tablet:max-w-contain-max desktop:max-w-content-max'
// 		: 'max-w-content-max';
---

<section
	class=`w-full h-fit px-padding-x py-padding-y flex justify-center align-center ${className}`
>
	<div
		class=`w-full h-fit max-w-wrapper-max mx-auto flex flex-col max-w-contain-max desktop:max-w-content-max ${containerClass}`
	>
		<slot />
	</div>
</section>
