---
const { topper, title, description } = Astro.props;
---

<div class='section-header flex flex-col w-full gap-0.5'>
	<h2
		class='text-topper uppercase font-secondary tracking-widest font-bold text-contrast-permanent/70'
	>
		{topper}
	</h2>
	<div class='wrapper w-full flex flex-wrap justify-between gap-5'>
		<h3
			class='text-heading uppercase font-secondary font-bold leading-none lg:max-w-[600px]'
		>
			{title}
		</h3>
		<p class='text-contrast-permament max-w-[600px] lg:max-w-[550px]'>
			{description}
		</p>
	</div>
</div>

<script>
	import { animateComponents } from '../../scripts/animations';

	// Initialize the icon card animations
	document.addEventListener('DOMContentLoaded', () => {
		animateComponents.sectionHeader();
	});
</script>
