---

---

<div class='container'>
	<div class='switch'>
		<div class='ball'></div>
	</div>
</div>

<script>
	import { animate, cubicBezier } from 'motion';

	// [Dark Mode] - Button Toggle
	document.addEventListener('DOMContentLoaded', function () {
		// References Both Desktop & Mobile Versions
		const toggleContainers = document.querySelectorAll('.switch');
		const balls = document.querySelectorAll('.ball');
		let isOn = true;

		toggleContainers.forEach((container, index) => {
			container.addEventListener('click', () => {
				console.log('clicked');
				document.documentElement.classList.toggle('dark');
				isOn = !isOn;

				animate(
					balls[index],
					{ x: isOn ? 0 : 40 },
					{ duration: 1.0, ease: cubicBezier(0.77, 0, 0.175, 1) }
				);
			});
		});
	});
</script>

<style>
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: fit-content;
	}

	.switch {
		width: 80px;
		height: 40px;
		background-color: rgba(0, 0, 0, 1);
		display: flex;
		align-items: flex-start;
		border-radius: 50px;
		padding: 4px;
		cursor: pointer;
	}

	.ball {
		width: 32px;
		height: 32px;
		background-color: #ff0000;
		border-radius: 40px;
		will-change: transform;
	}
</style>
